In [12]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import re

In [13]:
import requests

In [14]:
url = 'https://www.cardekho.com/bmw-cars'

headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

In [15]:
html_code=response.text
html_code[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>BMW Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="BMW Cars Price in India - BMW has currently 21 car models on sale, check prices of all BMW car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/M5-2025/11821/1719462197562/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/bmw-cars">      <link rel="amphtml" href="https://www.cardekho.com/bmw-cars?amp=1">       <meta property="og:title" content="BMW Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/BMW/2-Series-Gran-Coupe/12171/1752743378400/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/bmw-cars"><meta property="og:description" content="BMW Cars Price in India - BMW has cur'

In [16]:
html_code[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>BMW Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="BMW Cars Price in India - BMW has currently 21 car models on sale, check prices of all BMW car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/M5-2025/11821/1719462197562/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/bmw-cars">      <link rel="amphtml" href="https://www.cardekho.com/bmw-cars?amp=1">       <meta property="og:title" content="BMW Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/BMW/2-Series-Gran-Coupe/12171/1752743378400/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/bmw-cars"><meta property="og:description" content="BMW Cars Price in India - BMW has cur'

In [17]:
url = 'https://www.cardekho.com/bmw-cars'

headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

Title = []


soup = BeautifulSoup(html_code, "html.parser")

Name = soup.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h in Name:
    Title.append(h.text.strip())

In [18]:
Title

['BMW M5Rs.2.01 Cr* (View On Road Price)Petrol49.75 kmplAutomatic4395 cc717 bhp5 SeatsView November Offers',
 'BMW X7Rs.1.25 - 1.29 Cr* (View On Road Price)Diesel/Petrol14.31 kmplAutomatic2998 cc375.48 bhp5 Star SafetyView November Offers',
 'BMW X1Rs.50.60 - 52.20 Lakh* (View On Road Price)Diesel/Petrol20.37 kmplAutomatic1995 cc147.51 bhp5 Star SafetyView November Offers',
 'BMW X5Rs.93.70 Lakh - 1.05 Cr* (View On Road Price)Diesel/Petrol12 kmplAutomatic2998 cc375.48 bhp5 Star SafetyView November Offers',
 'BMW 5 SeriesRs.72.35 Lakh* (View On Road Price)Petrol10.9 kmplAutomatic1998 cc255 bhp5 SeatsView November Offers',
 'BMW X3Rs.71.20 - 73.10 Lakh* (View On Road Price)Diesel/Petrol17.86 kmplAutomatic1998 cc194 bhp5 SeatsView November Offers',
 'BMW Z4Rs.87.90 - 92.60 Lakh* (View On Road Price)Petrol8.5 kmplManual/Automatic2998 cc335 bhp2 SeatsView November Offers',
 'BMW M2Rs.1 Cr* (View On Road Price)Petrol10.19 kmplAutomatic2993 cc473 bhp4 SeatsView November Offers',
 'BMW 3 SeriesRs.72.85 - 73.95 Lakh* (View On Road Price)Petrol13.02 kmplAutomatic2998 cc374 bhp5 Star SafetyView November Offers',
 'BMW M4 CompetitionRs.1.52 Cr* (View On Road Price)Petrol9.7 kmplAutomatic2993 cc503 bhp4 SeatsView November Offers',
 'BMW M8 Coupe CompetitionRs.2.38 Cr* (View On Road Price)Petrol8.7 kmplAutomatic4395 cc616.87 bhp5 SeatsView November Offers',
 'BMW XMRs.2.55 Cr* (View On Road Price)Petrol61.9 kmplAutomatic4395 cc643.69 bhp5 SeatsView November Offers',
 'BMW 7 SeriesRs.1.79 - 1.82 Cr* (View On Road Price)Diesel/Petrol8 kmplAutomatic2998 cc375.48 bhp5 SeatsView November Offers',
 'BMW iX1Rs.49.90 Lakh* (View On Road Price)ElectricAutomatic531 km66.4 kWh204 bhp8 Airbags5 SeatsView November Offers',
 'BMW i7Rs.2.05 - 2.58 Cr* (View On Road Price)ElectricAutomatic625 km101.7 kWh650.39 bhp7 Airbags5 SeatsView November Offers',
 'BMW 2 Series Gran CoupeRs.45.30 - 47.20 Lakh* (View On Road Price)Petrol16.35 kmplAutomatic1499 cc154 bhp5 SeatsView November Offers',
 'BMW M4 CSRs.1.79 Cr* (View On Road Price)Petrol9.7 kmplAutomatic2993 cc543 bhp4 SeatsView November Offers',
 'BMW iXRs.1.40 Cr* (View On Road Price)ElectricAutomatic575 km111.5 kWh516.29 bhp8 Airbags5 Star SafetyView November Offers',
 'BMW 3 Series Long WheelbaseRs.60.50 - 61.80 Lakh* (View On Road Price)Diesel/Petrol19.61 kmplAutomatic1998 cc258 bhp5 SeatsView November Offers',
 'BMW i4Rs.72.50 - 77.50 Lakh* (View On Road Price)ElectricAutomatic590 km83.9 kWh335.25 bhp8 Airbags5 SeatsView November Offers',
 'BMW i5Rs.1.20 Cr* (View On Road Price)ElectricAutomatic516 km83.9 kWh592.73 bhp6 Airbags5 SeatsView November Offers']

In [19]:

raw_data = [
    "BMW M5Rs.2.01 Cr* (View On Road Price)Petrol49.75 kmplAutomatic4395 cc717 bhp5 SeatsView October Offers",
    "BMW X5Rs.93.70 Lakh - 1.05 Cr* (View On Road Price)Diesel/Petrol12 kmplAutomatic2998 cc375.48 bhp5 Star SafetyView October Offers",
    'BMW X7Rs.1.25 - 1.29 Cr* (View On Road Price)Diesel/Petrol14.31 kmplAutomatic2998 cc375.48 bhp5 Star SafetyView October Offers',
 'BMW X1Rs.50.60 - 52.20 Lakh* (View On Road Price)Diesel/Petrol20.37 kmplAutomatic1995 cc147.51 bhp5 Star SafetyView October Offers',
 'BMW 5 SeriesRs.72.35 Lakh* (View On Road Price)Petrol10.9 kmplAutomatic1998 cc255 bhp5 SeatsView October Offers',
 'BMW M2Rs.1 Cr* (View On Road Price)Petrol10.19 kmplAutomatic2993 cc473 bhp4 SeatsView October Offers',
 'BMW X3Rs.71.20 - 73.10 Lakh* (View On Road Price)Diesel/Petrol17.86 kmplAutomatic1998 cc194 bhp5 SeatsView October Offers',
 'BMW Z4Rs.87.90 - 92.60 Lakh* (View On Road Price)Petrol8.5 kmplManual/Automatic2998 cc335 bhp2 SeatsView October Offers',
 'BMW 3 SeriesRs.72.85 - 73.95 Lakh* (View On Road Price)Petrol13.02 kmplAutomatic2998 cc374 bhp5 Star SafetyView October Offers',
 'BMW XMRs.2.55 Cr* (View On Road Price)Petrol61.9 kmplAutomatic4395 cc643.69 bhp5 SeatsView October Offers',
 'BMW M8 Coupe CompetitionRs.2.38 Cr* (View On Road Price)Petrol8.7 kmplAutomatic4395 cc616.87 bhp5 SeatsView October Offers',
 'BMW M4 CompetitionRs.1.52 Cr* (View On Road Price)Petrol9.7 kmplAutomatic2993 cc503 bhp4 SeatsView October Offers',
 'BMW 7 SeriesRs.1.79 - 1.82 Cr* (View On Road Price)Diesel/Petrol8 kmplAutomatic2998 cc375.48 bhp5 SeatsView October Offers',
 'BMW iX1Rs.49.90 Lakh* (View On Road Price)ElectricAutomatic531 km66.4 kWh204 bhp8 Airbags5 SeatsView October Offers',
 'BMW 2 Series Gran CoupeRs.45.30 - 47.20 Lakh* (View On Road Price)Petrol16.35 kmplAutomatic1499 cc154 bhp5 SeatsView October Offers',
 'BMW i7Rs.2.05 - 2.58 Cr* (View On Road Price)ElectricAutomatic625 km101.7 kWh650.39 bhp7 Airbags5 SeatsView October Offers',
 'BMW M4 CSRs.1.79 Cr* (View On Road Price)Petrol9.7 kmplAutomatic2993 cc543 bhp4 SeatsView October Offers',
 'BMW iXRs.1.40 Cr* (View On Road Price)ElectricAutomatic575 km111.5 kWh516.29 bhp8 Airbags5 Star SafetyView October Offers',
 'BMW 3 Series Long WheelbaseRs.60.50 - 61.80 Lakh* (View On Road Price)Diesel/Petrol19.61 kmplAutomatic1998 cc258 bhp5 SeatsView October Offers',
 'BMW i4Rs.72.50 - 77.50 Lakh* (View On Road Price)ElectricAutomatic590 km83.9 kWh335.25 bhp8 Airbags5 SeatsView October Offers',
 'BMW i5Rs.1.20 Cr* (View On Road Price)ElectricAutomatic516 km83.9 kWh592.73 bhp6 Airbags5 SeatsView October Offers'
    # ... (add all your rows here)
]

data = []
for item in raw_data:
    brand = "BMW"
    model = re.findall(r'BMW\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df = pd.DataFrame(data, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type", 
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

#print(df.head())

# Assuming your DataFrame name is df
df['country_origin'] = 'Germany'

# Display updated data
df

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,BMW,M5,2.01 Cr,Petrol,49.75,Automatic,4395,5,Germany
1,BMW,X5,93.70 Lakh - 1.05 Cr,Diesel/Petrol,12,Automatic,2998,,Germany
2,BMW,X7,1.25 - 1.29 Cr,Diesel/Petrol,14.31,Automatic,2998,,Germany
3,BMW,X1,50.60 - 52.20 Lakh,Diesel/Petrol,20.37,Automatic,1995,,Germany
4,BMW,5 Series,72.35 Lakh,Petrol,10.9,Automatic,1998,5,Germany
5,BMW,M2,1 Cr,Petrol,10.19,Automatic,2993,4,Germany
6,BMW,X3,71.20 - 73.10 Lakh,Diesel/Petrol,17.86,Automatic,1998,5,Germany
7,BMW,Z4,87.90 - 92.60 Lakh,Petrol,8.5,Manual/Automatic,2998,2,Germany
8,BMW,3 Series,72.85 - 73.95 Lakh,Petrol,13.02,Automatic,2998,,Germany
9,BMW,XM,2.55 Cr,Petrol,61.9,Automatic,4395,5,Germany
10,BMW,M8 Coupe Competition,2.38 Cr,Petrol,8.7,Automatic,4395,5,Germany
11,BMW,M4 Competition,1.52 Cr,Petrol,9.7,Automatic,2993,4,Germany
12,BMW,7 Series,1.79 - 1.82 Cr,Diesel/Petrol,8,Automatic,2998,5,Germany
13,BMW,iX1,49.90 Lakh,Electric,,Automatic,,5,Germany
14,BMW,2 Series Gran Coupe,45.30 - 47.20 Lakh,Petrol,16.35,Automatic,1499,5,Germany
15,BMW,i7,2.05 - 2.58 Cr,Electric,,Automatic,,5,Germany
16,BMW,M4 CS,1.79 Cr,Petrol,9.7,Automatic,2993,4,Germany
17,BMW,iX,1.40 Cr,Electric,,Automatic,,,Germany
18,BMW,3 Series Long Wheelbase,60.50 - 61.80 Lakh,Diesel/Petrol,19.61,Automatic,1998,5,Germany
19,BMW,i4,72.50 - 77.50 Lakh,Electric,,Automatic,,5,Germany
20,BMW,i5,1.20 Cr,Electric,,Automatic,,5,Germany

In [20]:
html_code1=response.text
html_code1[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>BMW Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="BMW Cars Price in India - BMW has currently 21 car models on sale, check prices of all BMW car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/M5-2025/11821/1719462197562/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/bmw-cars">      <link rel="amphtml" href="https://www.cardekho.com/bmw-cars?amp=1">       <meta property="og:title" content="BMW Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/BMW/2-Series-Gran-Coupe/12171/1752743378400/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/bmw-cars"><meta property="og:description" content="BMW Cars Price in India - BMW has cur'

In [21]:

url = 'https://www.cardekho.com/cars/Mercedes-Benz'

headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

Title0 = []


soup0 = BeautifulSoup(html_code1, "html.parser")

Name0 = soup0.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h0 in Name0:
    Title0.append(h0.text.strip())

In [22]:
Title0

['BMW M5Rs.2.01 Cr* (View On Road Price)Petrol49.75 kmplAutomatic4395 cc717 bhp5 SeatsView November Offers',
 'BMW X7Rs.1.25 - 1.29 Cr* (View On Road Price)Diesel/Petrol14.31 kmplAutomatic2998 cc375.48 bhp5 Star SafetyView November Offers',
 'BMW X1Rs.50.60 - 52.20 Lakh* (View On Road Price)Diesel/Petrol20.37 kmplAutomatic1995 cc147.51 bhp5 Star SafetyView November Offers',
 'BMW X5Rs.93.70 Lakh - 1.05 Cr* (View On Road Price)Diesel/Petrol12 kmplAutomatic2998 cc375.48 bhp5 Star SafetyView November Offers',
 'BMW 5 SeriesRs.72.35 Lakh* (View On Road Price)Petrol10.9 kmplAutomatic1998 cc255 bhp5 SeatsView November Offers',
 'BMW X3Rs.71.20 - 73.10 Lakh* (View On Road Price)Diesel/Petrol17.86 kmplAutomatic1998 cc194 bhp5 SeatsView November Offers',
 'BMW Z4Rs.87.90 - 92.60 Lakh* (View On Road Price)Petrol8.5 kmplManual/Automatic2998 cc335 bhp2 SeatsView November Offers',
 'BMW M2Rs.1 Cr* (View On Road Price)Petrol10.19 kmplAutomatic2993 cc473 bhp4 SeatsView November Offers',
 'BMW 3 SeriesRs.72.85 - 73.95 Lakh* (View On Road Price)Petrol13.02 kmplAutomatic2998 cc374 bhp5 Star SafetyView November Offers',
 'BMW M4 CompetitionRs.1.52 Cr* (View On Road Price)Petrol9.7 kmplAutomatic2993 cc503 bhp4 SeatsView November Offers',
 'BMW M8 Coupe CompetitionRs.2.38 Cr* (View On Road Price)Petrol8.7 kmplAutomatic4395 cc616.87 bhp5 SeatsView November Offers',
 'BMW XMRs.2.55 Cr* (View On Road Price)Petrol61.9 kmplAutomatic4395 cc643.69 bhp5 SeatsView November Offers',
 'BMW 7 SeriesRs.1.79 - 1.82 Cr* (View On Road Price)Diesel/Petrol8 kmplAutomatic2998 cc375.48 bhp5 SeatsView November Offers',
 'BMW iX1Rs.49.90 Lakh* (View On Road Price)ElectricAutomatic531 km66.4 kWh204 bhp8 Airbags5 SeatsView November Offers',
 'BMW i7Rs.2.05 - 2.58 Cr* (View On Road Price)ElectricAutomatic625 km101.7 kWh650.39 bhp7 Airbags5 SeatsView November Offers',
 'BMW 2 Series Gran CoupeRs.45.30 - 47.20 Lakh* (View On Road Price)Petrol16.35 kmplAutomatic1499 cc154 bhp5 SeatsView November Offers',
 'BMW M4 CSRs.1.79 Cr* (View On Road Price)Petrol9.7 kmplAutomatic2993 cc543 bhp4 SeatsView November Offers',
 'BMW iXRs.1.40 Cr* (View On Road Price)ElectricAutomatic575 km111.5 kWh516.29 bhp8 Airbags5 Star SafetyView November Offers',
 'BMW 3 Series Long WheelbaseRs.60.50 - 61.80 Lakh* (View On Road Price)Diesel/Petrol19.61 kmplAutomatic1998 cc258 bhp5 SeatsView November Offers',
 'BMW i4Rs.72.50 - 77.50 Lakh* (View On Road Price)ElectricAutomatic590 km83.9 kWh335.25 bhp8 Airbags5 SeatsView November Offers',
 'BMW i5Rs.1.20 Cr* (View On Road Price)ElectricAutomatic516 km83.9 kWh592.73 bhp6 Airbags5 SeatsView November Offers']

In [23]:
raw_data0 = [
    'Mercedes-Benz GLSRs.1.32 - 1.42 Cr* (View On Road Price)Diesel/Petrol12 kmpl2999 cc375.48 bhp7 SeatsContact Dealer',
 'Mercedes-Benz C-ClassRs.58.65 - 64.30 Lakh* (View On Road Price)Diesel/Petrol23 kmpl1999 cc254.79 bhp5 SeatsContact Dealer',
 'Mercedes-Benz S-ClassRs.1.78 - 1.88 Cr* (View On Road Price)Diesel/Petrol18 kmpl2999 cc362.07 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz GLCRs.73.95 Lakh* (View On Road Price)Diesel/Petrol19.4 kmpl1999 cc254.79 bhp5 SeatsContact Dealer',
 'Mercedes-Benz GLERs.96.15 Lakh - 1.12 Cr* (View On Road Price)Diesel/Petrol16 kmpl2999 cc375.48 bhp5 SeatsContact Dealer',
 'Mercedes-Benz E-ClassRs.78.50 - 91.65 Lakh* (View On Road Price)Diesel/Petrol15 kmpl2999 cc375 bhp5 SeatsContact Dealer',
 'Mercedes-Benz Maybach GLSRs.3.17 - 3.71 Cr* (View On Road Price)Petrol10 kmpl3982 cc550 bhp5 SeatsContact Dealer',
 'Mercedes-Benz G-Class ElectricRs.3.10 Cr* (View On Road Price)Electric473 km116 kWh579 bhp5 SeatsContact Dealer',
 'Mercedes-Benz AMG CLE 53Rs.1.28 Cr* (View On Road Price)Petrol2999 cc442 bhp- SeatsContact Dealer',
 'Mercedes-Benz GLARs.49.70 - 52.70 Lakh* (View On Road Price)Diesel/Petrol18.9 kmpl1950 cc187.74 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQS SUVRs.1.33 - 1.48 Cr* (View On Road Price)Electric820 km122 kWh536.4 bhp6 Airbags5, 7 SeatsContact Dealer',
 'Mercedes-Benz EQBRs.72.20 - 78.90 Lakh* (View On Road Price)Electric535 km70.5 kWh288.32 bhp6 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG SLRs.2.34 Cr* (View On Road Price)Petrol7.3 kmpl3982 cc469.35 bhp4 SeatsContact Dealer',
 'Mercedes-Benz AMG GLC 43Rs.99.35 Lakh* (View On Road Price)Petrol10 kmpl1991 cc416 bhp5 SeatsContact Dealer',
 'Mercedes-Benz Maybach SL 680Rs.4.12 Cr* (View On Road Price)Petrol3982 cc577 bhp2 SeatsContact Dealer',
 'Mercedes-Benz G-ClassRs.2.55 - 4.30 Cr* (View On Road Price)Diesel/Petrol8.47 kmpl3982 cc576.63 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQSRs.1.30 - 1.63 Cr* (View On Road Price)Electric857 km107.8 kWh750.97 bhp9 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz EQE SUVRs.1.41 Cr* (View On Road Price)Electric550 km90.56 kWh402.3 bhp9 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG C43Rs.94.05 Lakh* (View On Road Price)Petrol10 kmpl1991 cc402.3 bhp5 SeatsContact Dealer',
 'Mercedes-Benz Maybach EQS SUVRs.2.28 - 2.63 Cr* (View On Road Price)Electric611 km122 kWh649 bhp11 Airbags4 SeatsContact Dealer',
 'Mercedes-Benz AMG A 45 SRs.94.80 Lakh* (View On Road Price)Petrol10 kmpl1991 cc415.71 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz Maybach S-ClassRs.2.74 - 3.47 Cr* (View On Road Price)Petrol23 kmpl5980 cc603.46 bhp5 SeatsContact Dealer',
 'Mercedes-Benz AMG C 63Rs.1.91 Cr* (View On Road Price)Petrol1991 cc469 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQARs.67.20 Lakh* (View On Road Price)Electric560 km70.5 kWh188 bhp6 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz CLE CabrioletRs.1.11 Cr* (View On Road Price)Petrol12 kmpl1999 cc255 bhp4 SeatsContact Dealer',
 'Mercedes-Benz A-Class LimousineRs.44.45 - 45.95 Lakh* (View On Road Price)Diesel/Petrol15.5 kmpl1950 cc160.92 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG GLE 53Rs.1.88 Cr* (View On Road Price)Petrol8.9 kmpl2999 cc435 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG E 53 CabrioletRs.1.30 Cr* (View On Road Price)Petrol9 kmpl2998 cc424.71 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG EQSRs.2.45 Cr* (View On Road Price)Electric526 km107.8 kWh751 bhp9 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG GLA 35Rs.58.50 Lakh* (View On Road Price)Petrol10 kmpl1991 cc301.73 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG GT 4 Door CoupeRs.3.27 Cr* (View On Road Price)Petrol7 kmpl3982 cc630.28 bhp5 SeatsContact Dealer',
 'Mercedes-Benz AMG GT CoupeRs.2.88 - 3.45 Cr* (View On Road Price)Petrol3982 cc603 bhp- SeatsContact Dealer',
 'Mercedes-Benz AMG S 63Rs.3.27 - 3.80 Cr* (View On Road Price)Petrol19.4 kmpl3982 cc791 bhp5 SeatsContact Dealer'
   
    # ... (add all your rows here)
]

data0 = []
for item in raw_data0:
    brand = "Mercedes-Benz"
    model = re.findall(r'Mercedes-Benz\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data0.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df0= pd.DataFrame(data0, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type", 
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

#print(df.head())

df0['country_origin'] = 'Germany'
df0

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Mercedes-Benz,GLS,1.32 - 1.42 Cr,Diesel/Petrol,12,,2999,7,Germany
1,Mercedes-Benz,C-Class,58.65 - 64.30 Lakh,Diesel/Petrol,23,,1999,5,Germany
2,Mercedes-Benz,S-Class,1.78 - 1.88 Cr,Diesel/Petrol,18,,2999,,Germany
3,Mercedes-Benz,GLC,73.95 Lakh,Diesel/Petrol,19.4,,1999,5,Germany
4,Mercedes-Benz,GLE,96.15 Lakh - 1.12 Cr,Diesel/Petrol,16,,2999,5,Germany
5,Mercedes-Benz,E-Class,78.50 - 91.65 Lakh,Diesel/Petrol,15,,2999,5,Germany
6,Mercedes-Benz,Maybach GLS,3.17 - 3.71 Cr,Petrol,10,,3982,5,Germany
7,Mercedes-Benz,G-Class Electric,3.10 Cr,Electric,,,,5,Germany
8,Mercedes-Benz,AMG CLE 53,1.28 Cr,Petrol,,,2999,,Germany
9,Mercedes-Benz,GLA,49.70 - 52.70 Lakh,Diesel/Petrol,18.9,,1950,5,Germany
10,Mercedes-Benz,EQS SUV,1.33 - 1.48 Cr,Electric,,,,7,Germany
11,Mercedes-Benz,EQB,72.20 - 78.90 Lakh,Electric,,,,5,Germany
12,Mercedes-Benz,AMG SL,2.34 Cr,Petrol,7.3,,3982,4,Germany
13,Mercedes-Benz,AMG GLC 43,99.35 Lakh,Petrol,10,,1991,5,Germany
14,Mercedes-Benz,Maybach SL 680,4.12 Cr,Petrol,,,3982,2,Germany
15,Mercedes-Benz,G-Class,2.55 - 4.30 Cr,Diesel/Petrol,8.47,,3982,5,Germany
16,Mercedes-Benz,EQS,1.30 - 1.63 Cr,Electric,,,,5,Germany
17,Mercedes-Benz,EQE SUV,1.41 Cr,Electric,,,,5,Germany
18,Mercedes-Benz,AMG C43,94.05 Lakh,Petrol,10,,1991,5,Germany
19,Mercedes-Benz,Maybach EQS SUV,2.28 - 2.63 Cr,Electric,,,,4,Germany
20,Mercedes-Benz,AMG A 45 S,94.80 Lakh,Petrol,10,,1991,,Germany
21,Mercedes-Benz,Maybach S-Class,2.74 - 3.47 Cr,Petrol,23,,5980,5,Germany
22,Mercedes-Benz,AMG C 63,1.91 Cr,Petrol,,,1991,5,Germany
23,Mercedes-Benz,EQA,67.20 Lakh,Electric,,,,5,Germany
24,Mercedes-Benz,CLE Cabriolet,1.11 Cr,Petrol,12,,1999,4,Germany
25,Mercedes-Benz,A-Class Limousine,44.45 - 45.95 Lakh,Diesel/Petrol,15.5,,1950,,Germany
26,Mercedes-Benz,AMG GLE 53,1.88 Cr,Petrol,8.9,,2999,,Germany
27,Mercedes-Benz,AMG E 53 Cabriolet,1.30 Cr,Petrol,9,,2998,,Germany
28,Mercedes-Benz,AMG EQS,2.45 Cr,Electric,,,,5,Germany
29,Mercedes-Benz,AMG GLA 35,58.50 Lakh,Petrol,10,,1991,,Germany
30,Mercedes-Benz,AMG GT 4 Door Coupe,3.27 Cr,Petrol,7,,3982,5,Germany
31,Mercedes-Benz,AMG GT Coupe,2.88 - 3.45 Cr,Petrol,,,3982,,Germany
32,Mercedes-Benz,AMG S 63,3.27 - 3.80 Cr,Petrol,19.4,,3982,5,Germany

In [24]:
html_code2=response.text

In [25]:
url = 'https://www.cardekho.com/maruti-suzuki-cars'

headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

Title1 = []


soup1 = BeautifulSoup(html_code2, "html.parser")

Name1 = soup1.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h1 in Name1:
    Title1.append(h1.text.strip())

In [26]:

html_code2[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Mercedes-Benz Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Mercedes-Benz Cars Price in India - Mercedes-Benz has currently 33 car models on sale, check prices of all Mercedes-Benz car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mercedes-Benz/GLS/9791/1756376248917/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Mercedes-Benz">      <link rel="amphtml" href="https://www.cardekho.com/cars/Mercedes-Benz?amp=1">       <meta property="og:title" content="Mercedes-Benz Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Mercedes-Benz/A-Class-Limousine/10868/1690455101960/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/'

In [27]:
Title1

['Mercedes-Benz GLSRs.1.32 - 1.42 Cr* (View On Road Price)Diesel/Petrol12 kmpl2999 cc375.48 bhp7 SeatsContact Dealer',
 'Mercedes-Benz C-ClassRs.58.65 - 64.30 Lakh* (View On Road Price)Diesel/Petrol23 kmpl1999 cc254.79 bhp5 SeatsContact Dealer',
 'Mercedes-Benz GLCRs.73.95 Lakh* (View On Road Price)Diesel/Petrol19.4 kmpl1999 cc254.79 bhp5 SeatsContact Dealer',
 'Mercedes-Benz S-ClassRs.1.78 - 1.88 Cr* (View On Road Price)Diesel/Petrol18 kmpl2999 cc362.07 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz Maybach GLSRs.3.17 - 3.71 Cr* (View On Road Price)Petrol10 kmpl3982 cc550 bhp5 SeatsContact Dealer',
 'Mercedes-Benz E-ClassRs.78.50 - 91.65 Lakh* (View On Road Price)Diesel/Petrol15 kmpl2999 cc375 bhp5 SeatsContact Dealer',
 'Mercedes-Benz GLERs.96.15 Lakh - 1.12 Cr* (View On Road Price)Diesel/Petrol16 kmpl2999 cc375.48 bhp5 SeatsContact Dealer',
 'Mercedes-Benz G-Class ElectricRs.3.10 Cr* (View On Road Price)Electric473 km116 kWh579 bhp5 SeatsContact Dealer',
 'Mercedes-Benz GLARs.49.70 - 52.70 Lakh* (View On Road Price)Diesel/Petrol18.9 kmpl1950 cc187.74 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQS SUVRs.1.33 - 1.48 Cr* (View On Road Price)Electric820 km122 kWh536.4 bhp6 Airbags5, 7 SeatsContact Dealer',
 'Mercedes-Benz AMG CLE 53Rs.1.28 Cr* (View On Road Price)Petrol2999 cc442 bhp- SeatsContact Dealer',
 'Mercedes-Benz EQBRs.72.20 - 78.90 Lakh* (View On Road Price)Electric535 km70.5 kWh288.32 bhp6 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG SLRs.2.34 Cr* (View On Road Price)Petrol7.3 kmpl3982 cc469.35 bhp4 SeatsContact Dealer',
 'Mercedes-Benz AMG GLC 43Rs.99.35 Lakh* (View On Road Price)Petrol10 kmpl1991 cc416 bhp5 SeatsContact Dealer',
 'Mercedes-Benz Maybach SL 680Rs.4.12 Cr* (View On Road Price)Petrol3982 cc577 bhp2 SeatsContact Dealer',
 'Mercedes-Benz G-ClassRs.2.55 - 4.30 Cr* (View On Road Price)Diesel/Petrol8.47 kmpl3982 cc576.63 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQE SUVRs.1.41 Cr* (View On Road Price)Electric550 km90.56 kWh402.3 bhp9 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG C43Rs.94.05 Lakh* (View On Road Price)Petrol10 kmpl1991 cc402.3 bhp5 SeatsContact Dealer',
 'Mercedes-Benz Maybach EQS SUVRs.2.28 - 2.63 Cr* (View On Road Price)Electric611 km122 kWh649 bhp11 Airbags4 SeatsContact Dealer',
 'Mercedes-Benz AMG A 45 SRs.94.80 Lakh* (View On Road Price)Petrol10 kmpl1991 cc415.71 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz Maybach S-ClassRs.2.74 - 3.47 Cr* (View On Road Price)Petrol23 kmpl5980 cc603.46 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQSRs.1.30 - 1.63 Cr* (View On Road Price)Electric857 km107.8 kWh750.97 bhp9 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG C 63Rs.1.91 Cr* (View On Road Price)Petrol1991 cc469 bhp5 SeatsContact Dealer',
 'Mercedes-Benz EQARs.67.20 Lakh* (View On Road Price)Electric560 km70.5 kWh188 bhp6 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz CLE CabrioletRs.1.11 Cr* (View On Road Price)Petrol12 kmpl1999 cc255 bhp4 SeatsContact Dealer',
 'Mercedes-Benz A-Class LimousineRs.44.45 - 45.95 Lakh* (View On Road Price)Diesel/Petrol15.5 kmpl1950 cc160.92 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG GLE 53Rs.1.88 Cr* (View On Road Price)Petrol8.9 kmpl2999 cc435 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG E 53 CabrioletRs.1.30 Cr* (View On Road Price)Petrol9 kmpl2998 cc424.71 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG EQSRs.2.45 Cr* (View On Road Price)Electric526 km107.8 kWh751 bhp9 Airbags5 SeatsContact Dealer',
 'Mercedes-Benz AMG GLA 35Rs.58.50 Lakh* (View On Road Price)Petrol10 kmpl1991 cc301.73 bhp5 Star SafetyContact Dealer',
 'Mercedes-Benz AMG GT 4 Door CoupeRs.3.27 Cr* (View On Road Price)Petrol7 kmpl3982 cc630.28 bhp5 SeatsContact Dealer',
 'Mercedes-Benz AMG GT CoupeRs.2.88 - 3.45 Cr* (View On Road Price)Petrol3982 cc603 bhp- SeatsContact Dealer',
 'Mercedes-Benz AMG S 63Rs.3.27 - 3.80 Cr* (View On Road Price)Petrol19.4 kmpl3982 cc791 bhp5 SeatsContact Dealer']

In [28]:
import re
import pandas as pd

raw_data1 = [
    'Maruti Suzuki SwiftRs.5.79 - 8.80 Lakh* (View On Road Price)Petrol/CNG25.75 kmplManual/Automatic1197 cc80.46 bhp1 Star SafetyView November Offers',
 'Maruti Suzuki FRONXRs.6.85 - 11.98 Lakh* (View On Road Price)Petrol/CNG22.89 kmplManual/Automatic1197 cc98.69 bhp5 SeatsView November Offers',
 'Maruti Suzuki ErtigaRs.8.80 - 12.94 Lakh* (View On Road Price)Petrol/CNG20.51 kmplManual/Automatic1462 cc101.64 bhp3 Star SafetyView November Offers',
 'Maruti Suzuki BalenoRs.5.99 - 9.10 Lakh* (View On Road Price)Petrol/CNG22.94 kmplManual/Automatic1197 cc88.5 bhp5 SeatsView November Offers',
 'Maruti Suzuki DzireRs.6.26 - 9.31 Lakh* (View On Road Price)Petrol/CNG25.71 kmplManual/Automatic1197 cc80 bhp5 Star SafetyView November Offers',
 'Maruti Suzuki BrezzaRs.8.26 - 13.01 Lakh* (View On Road Price)Petrol/CNG19.89 kmplManual/Automatic1462 cc101.64 bhp4 Star SafetyView November Offers',
 'Maruti Suzuki Grand VitaraRs.10.77 - 19.72 Lakh* (View On Road Price)Petrol/CNG27.97 kmplManual/Automatic1490 cc101.64 bhp5 SeatsView November Offers',
 'Maruti Suzuki Wagon RRs.4.99 - 6.95 Lakh* (View On Road Price)Petrol/CNG25.19 kmplManual/Automatic1197 cc88.5 bhp1 Star SafetyView November Offers',
 'Maruti Suzuki VictorisRs.10.50 - 19.99 Lakh* (View On Road Price)Petrol/CNG28.65 kmplManual/Automatic1490 cc141.14 bhp5 Star SafetyView November Offers',
 'Maruti Suzuki Alto K10Rs.3.70 - 5.45 Lakh* (View On Road Price)Petrol/CNG24.9 kmplManual/Automatic998 cc65.71 bhp2 Star SafetyView November Offers',
 'Maruti Suzuki S-PressoRs.3.50 - 5.25 Lakh* (View On Road Price)Petrol/CNG25.3 kmplManual/Automatic998 cc65.71 bhp1 Star SafetyView November Offers',
 'Maruti Suzuki CelerioRs.4.70 - 6.73 Lakh* (View On Road Price)Petrol/CNG26.68 kmplManual/Automatic998 cc67.77 bhp5 SeatsView November Offers',
 'Maruti Suzuki XL6Rs.11.52 - 14.48 Lakh* (View On Road Price)Petrol/CNG20.97 kmplManual/Automatic1462 cc101.64 bhp3 Star SafetyView November Offers',
 'Maruti Suzuki JimnyRs.12.31 - 14.45 Lakh* (View On Road Price)Petrol16.94 kmplManual/Automatic1462 cc103 bhp3 Star SafetyView November Offers',
 'Maruti Suzuki IgnisRs.5.35 - 7.55 Lakh* (View On Road Price)Petrol20.89 kmplManual/Automatic1197 cc81.8 bhp1 Star SafetyView November Offers',
 'Maruti Suzuki EecoRs.5.21 - 6.36 Lakh* (View On Road Price)Petrol/CNG19.71 kmplManual1197 cc79.65 bhp5, 7 SeatsView November Offers',
 'Maruti Suzuki CiazRs.9.09 - 11.89 Lakh* (View On Road Price)Petrol20.65 kmplManual/Automatic1462 cc103.25 bhp4 Star SafetyView November Offers',
 'Maruti Suzuki InvictoRs.24.97 - 28.61 Lakh* (View On Road Price)Petrol23.24 kmplAutomatic1987 cc150.19 bhp7, 8 SeatsView November Offers',
 'Maruti Suzuki Dzire Tour SRs.6.24 - 7.10 Lakh* (View On Road Price)Petrol/CNG26.06 kmplManual1197 cc76.43 bhp4 Star SafetyView November Offers',
 'Maruti Suzuki Ertiga TourRs.9.68 - 10.59 Lakh* (View On Road Price)Petrol/CNG18.04 kmplManual1462 cc103.25 bhp3 Star SafetyView November Offers',
 'Maruti Suzuki Alto Tour H1Rs.4 - 4.82 Lakh* (View On Road Price)Petrol/CNG24.39 kmplManual998 cc67.58 bhp4, 5 SeatsView November Offers',
 'Maruti Suzuki Eeco CargoRs.5.39 - 6.61 Lakh* (View On Road Price)Petrol/CNG20.2 kmplManual1197 cc79.65 bhp2 Star SafetyView November Offers',
 'Maruti Suzuki Wagon R tourRs.4.99 - 5.89 Lakh* (View On Road Price)Petrol/CNG25.4 kmplManual998 cc65.71 bhp1 Star SafetyView November Offers'
    # ... add all rows here
]

data1 = []
for item in raw_data1:
    brand = "Maruti Suzuki"
    model = re.findall(r'Maruti Suzuki\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data1.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df1 = pd.DataFrame(data1, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df1['country_origin'] = 'India'  #  Maruti Suzuki is an Indian brand
df1

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Maruti Suzuki,Swift,5.79 - 8.80 Lakh,Petrol/CNG,25.75,Manual/Automatic,1197,,India
1,Maruti Suzuki,FRONX,6.85 - 11.98 Lakh,Petrol/CNG,22.89,Manual/Automatic,1197,5,India
2,Maruti Suzuki,Ertiga,8.80 - 12.94 Lakh,Petrol/CNG,20.51,Manual/Automatic,1462,,India
3,Maruti Suzuki,Baleno,5.99 - 9.10 Lakh,Petrol/CNG,22.94,Manual/Automatic,1197,5,India
4,Maruti Suzuki,Dzire,6.26 - 9.31 Lakh,Petrol/CNG,25.71,Manual/Automatic,1197,,India
5,Maruti Suzuki,Brezza,8.26 - 13.01 Lakh,Petrol/CNG,19.89,Manual/Automatic,1462,,India
6,Maruti Suzuki,Grand Vitara,10.77 - 19.72 Lakh,Petrol/CNG,27.97,Manual/Automatic,1490,5,India
7,Maruti Suzuki,Wagon R,4.99 - 6.95 Lakh,Petrol/CNG,25.19,Manual/Automatic,1197,,India
8,Maruti Suzuki,Victoris,10.50 - 19.99 Lakh,Petrol/CNG,28.65,Manual/Automatic,1490,,India
9,Maruti Suzuki,Alto K10,3.70 - 5.45 Lakh,Petrol/CNG,24.9,Manual/Automatic,998,,India
10,Maruti Suzuki,S-Presso,3.50 - 5.25 Lakh,Petrol/CNG,25.3,Manual/Automatic,998,,India
11,Maruti Suzuki,Celerio,4.70 - 6.73 Lakh,Petrol/CNG,26.68,Manual/Automatic,998,5,India
12,Maruti Suzuki,XL6,11.52 - 14.48 Lakh,Petrol/CNG,20.97,Manual/Automatic,1462,,India
13,Maruti Suzuki,Jimny,12.31 - 14.45 Lakh,Petrol,16.94,Manual/Automatic,1462,,India
14,Maruti Suzuki,Ignis,5.35 - 7.55 Lakh,Petrol,20.89,Manual/Automatic,1197,,India
15,Maruti Suzuki,Eeco,5.21 - 6.36 Lakh,Petrol/CNG,19.71,Manual,1197,7,India
16,Maruti Suzuki,Ciaz,9.09 - 11.89 Lakh,Petrol,20.65,Manual/Automatic,1462,,India
17,Maruti Suzuki,Invicto,24.97 - 28.61 Lakh,Petrol,23.24,Automatic,1987,8,India
18,Maruti Suzuki,Dzire Tour S,6.24 - 7.10 Lakh,Petrol/CNG,26.06,Manual,1197,,India
19,Maruti Suzuki,Ertiga Tour,9.68 - 10.59 Lakh,Petrol/CNG,18.04,Manual,1462,,India
20,Maruti Suzuki,Alto Tour H1,4 - 4.82 Lakh,Petrol/CNG,24.39,Manual,998,5,India
21,Maruti Suzuki,Eeco Cargo,5.39 - 6.61 Lakh,Petrol/CNG,20.2,Manual,1197,,India
22,Maruti Suzuki,Wagon R tour,4.99 - 5.89 Lakh,Petrol/CNG,25.4,Manual,998,,India

In [32]:
url = 'https://www.cardekho.com/cars/Tata'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

In [33]:
html_code3=response.text

In [34]:
html_code3[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Tata Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Tata Cars Price in India - Tata has currently 16 car models on sale, check prices of all Tata car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Nexon/9675/1756363921933/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Tata">      <link rel="amphtml" href="https://www.cardekho.com/cars/Tata?amp=1">       <meta property="og:title" content="Tata Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Tata/Tiago/10655/1724821599082/Flame-Red_bd4b4c.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Tata"><meta property="og:description" content="Tata Cars Price in India - Tata has currently '

In [35]:

Title2 = []


soup2 = BeautifulSoup(html_code3, "html.parser")

Name2 = soup2.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h2 in Name2:
    Title2.append(h2.text.strip())

In [36]:
Title2

['Tata NexonRs.7.32 - 14.05 Lakh* (View On Road Price)Diesel/Petrol/CNG24.08 kmplManual/Automatic1497 cc118.27 bhp5 Star SafetyView November Offers',
 'Tata PunchRs.5.50 - 9.30 Lakh* (View On Road Price)Petrol/CNG20.09 kmplManual/Automatic1199 cc87 bhp5 Star SafetyView November Offers',
 'Tata TiagoRs.4.57 - 7.82 Lakh* (View On Road Price)Petrol/CNG19.01 kmplManual/Automatic1199 cc84.82 bhp4 Star SafetyView November Offers',
 'Tata HarrierRs.14 - 25.25 Lakh* (View On Road Price)Diesel16.8 kmplManual/Automatic1956 cc167.62 bhp5 Star SafetyView November Offers',
 'Tata AltrozRs.6.30 - 10.51 Lakh* (View On Road Price)Diesel/Petrol/CNGManual/Automatic1497 cc88.76 bhp5 SeatsView November Offers',
 'Tata SafariRs.14.66 - 25.96 Lakh* (View On Road Price)Diesel16.3 kmplManual/Automatic1956 cc167.62 bhp5 Star SafetyView November Offers',
 'Tata CurvvRs.9.66 - 18.85 Lakh* (View On Road Price)Diesel/Petrol12 kmplManual/Automatic1497 cc123 bhp5 SeatsView November Offers',
 'Tata Harrier EVRs.21.49 - 30.23 Lakh* (View On Road Price)ElectricAutomatic627 km75 kWh390 bhp6 Airbags5 Star SafetyView November Offers',
 'Tata Nexon EVRs.12.49 - 17.49 Lakh* (View On Road Price)ElectricAutomatic489 km45 kWh142 bhp6 Airbags5 SeatsView November Offers',
 'Tata Punch EVRs.9.99 - 14.44 Lakh* (View On Road Price)ElectricAutomatic421 km35 kWh120.69 bhp6 Airbags5 SeatsView November Offers',
 'Tata Tiago EVRs.7.99 - 11.14 Lakh* (View On Road Price)ElectricAutomatic315 km24 kWh73.75 bhp2 Airbags4 Star SafetyView November Offers',
 'Tata TigorRs.5.49 - 8.74 Lakh* (View On Road Price)Petrol/CNG19.6 kmplManual/Automatic1199 cc84.48 bhp3 Star SafetyView November Offers',
 'Tata Curvv EVRs.17.49 - 22.24 Lakh* (View On Road Price)ElectricAutomatic502 km55 kWh165 bhp6 Airbags5 SeatsView November Offers',
 'Tata Tiago NRGRs.6.68 - 8.10 Lakh* (View On Road Price)Petrol/CNG20.09 kmplManual/Automatic1199 cc84.82 bhp4 Star SafetyView November Offers',
 'Tata Tigor EVRs.12.49 - 13.75 Lakh* (View On Road Price)ElectricAutomatic315 km26 kWh73.75 bhp2 Airbags4 Star SafetyView November Offers',
 'Tata Yodha PickupRs.6.95 - 7.50 Lakh* (View On Road Price)Diesel13 kmplManual2956 cc85.82 bhp2, 4 SeatsView November Offers']

In [105]:
import re
import pandas as pd

raw_data2 = [
 'Tata NexonRs.7.32 - 14.05 Lakh* (View On Road Price)Diesel/Petrol/CNG24.08 kmplManual/Automatic1497 cc118.27 bhp5 Star SafetyView November Offers',
 'Tata PunchRs.5.50 - 9.30 Lakh* (View On Road Price)Petrol/CNG20.09 kmplManual/Automatic1199 cc87 bhp5 Star SafetyView November Offers',
 'Tata TiagoRs.4.57 - 7.82 Lakh* (View On Road Price)Petrol/CNG19.01 kmplManual/Automatic1199 cc84.82 bhp4 Star SafetyView November Offers',
 'Tata HarrierRs.14 - 25.25 Lakh* (View On Road Price)Diesel16.8 kmplManual/Automatic1956 cc167.62 bhp5 Star SafetyView November Offers',
 'Tata AltrozRs.6.30 - 10.51 Lakh* (View On Road Price)Diesel/Petrol/CNGManual/Automatic1497 cc88.76 bhp5 SeatsView November Offers',
 'Tata SafariRs.14.66 - 25.96 Lakh* (View On Road Price)Diesel16.3 kmplManual/Automatic1956 cc167.62 bhp5 Star SafetyView November Offers',
 'Tata CurvvRs.9.66 - 18.85 Lakh* (View On Road Price)Diesel/Petrol12 kmplManual/Automatic1497 cc123 bhp5 SeatsView November Offers',
 'Tata Harrier EVRs.21.49 - 30.23 Lakh* (View On Road Price)ElectricAutomatic627 km75 kWh390 bhp6 Airbags5 Star SafetyView November Offers',
 'Tata Nexon EVRs.12.49 - 17.49 Lakh* (View On Road Price)ElectricAutomatic489 km45 kWh142 bhp6 Airbags5 SeatsView November Offers',
 'Tata Punch EVRs.9.99 - 14.44 Lakh* (View On Road Price)ElectricAutomatic421 km35 kWh120.69 bhp6 Airbags5 SeatsView November Offers',
 'Tata Tiago EVRs.7.99 - 11.14 Lakh* (View On Road Price)ElectricAutomatic315 km24 kWh73.75 bhp2 Airbags4 Star SafetyView November Offers',
 'Tata TigorRs.5.49 - 8.74 Lakh* (View On Road Price)Petrol/CNG19.6 kmplManual/Automatic1199 cc84.48 bhp3 Star SafetyView November Offers',
 'Tata Curvv EVRs.17.49 - 22.24 Lakh* (View On Road Price)ElectricAutomatic502 km55 kWh165 bhp6 Airbags5 SeatsView November Offers',
 'Tata Tiago NRGRs.6.68 - 8.10 Lakh* (View On Road Price)Petrol/CNG20.09 kmplManual/Automatic1199 cc84.82 bhp4 Star SafetyView November Offers',
 'Tata Tigor EVRs.12.49 - 13.75 Lakh* (View On Road Price)ElectricAutomatic315 km26 kWh73.75 bhp2 Airbags4 Star SafetyView November Offers',
 'Tata Yodha PickupRs.6.95 - 7.50 Lakh* (View On Road Price)Diesel13 kmplManual2956 cc85.82 bhp2, 4 SeatsView November Offers'
]

data2 = []

for item in raw_data2:
    brand = "Tata"
    model = re.findall(r'Tata\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data2.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df2 = pd.DataFrame(data2, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df2['country_origin'] = 'India'

df2

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Tata,Nexon,7.32 - 14.05 Lakh,Diesel/Petrol/CNG,24.08,Manual/Automatic,1497,,India
1,Tata,Punch,5.50 - 9.30 Lakh,Petrol/CNG,20.09,Manual/Automatic,1199,,India
2,Tata,Tiago,4.57 - 7.82 Lakh,Petrol/CNG,19.01,Manual/Automatic,1199,,India
3,Tata,Harrier,14 - 25.25 Lakh,Diesel,16.8,Manual/Automatic,1956,,India
4,Tata,Altroz,6.30 - 10.51 Lakh,Diesel/Petrol/CNG,,Manual/Automatic,1497,5,India
5,Tata,Safari,14.66 - 25.96 Lakh,Diesel,16.3,Manual/Automatic,1956,,India
6,Tata,Curvv,9.66 - 18.85 Lakh,Diesel/Petrol,12,Manual/Automatic,1497,5,India
7,Tata,Harrier EV,21.49 - 30.23 Lakh,Electric,,Automatic,,,India
8,Tata,Nexon EV,12.49 - 17.49 Lakh,Electric,,Automatic,,5,India
9,Tata,Punch EV,9.99 - 14.44 Lakh,Electric,,Automatic,,5,India
10,Tata,Tiago EV,7.99 - 11.14 Lakh,Electric,,Automatic,,,India
11,Tata,Tigor,5.49 - 8.74 Lakh,Petrol/CNG,19.6,Manual/Automatic,1199,,India
12,Tata,Curvv EV,17.49 - 22.24 Lakh,Electric,,Automatic,,5,India
13,Tata,Tiago NRG,6.68 - 8.10 Lakh,Petrol/CNG,20.09,Manual/Automatic,1199,,India
14,Tata,Tigor EV,12.49 - 13.75 Lakh,Electric,,Automatic,,,India
15,Tata,Yodha Pickup,6.95 - 7.50 Lakh,Diesel,13,Manual,2956,4,India

In [38]:
url = 'https://www.cardekho.com/cars/Hyundai'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

In [39]:
html_code4=response.text

In [40]:
html_code4[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Hyundai Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Hyundai Cars Price in India - Hyundai has currently 14 car models on sale, check prices of all Hyundai car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Hyundai/Venue/10141/1755774341209/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Hyundai">      <link rel="amphtml" href="https://www.cardekho.com/cars/Hyundai?amp=1">       <meta property="og:title" content="Hyundai Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Hyundai/Grand-i10-Nios/10096/1684298535807/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Hyundai"><meta property="og:description" content="Hyun'

In [37]:
Title3 = []


soup3 = BeautifulSoup(html_code4, "html.parser")

Name3 = soup3.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h3 in Name3:
    Title3.append(h3.text.strip())

In [41]:
Title3

['Hyundai VenueRs.7.26 - 12.46 Lakh* (View On Road Price)Diesel/Petrol24.2 kmplManual/Automatic1493 cc118 bhp4 Star SafetyView November Offers',
 'Hyundai CretaRs.10.73 - 20.20 Lakh* (View On Road Price)Diesel/Petrol21.8 kmplManual/Automatic1497 cc157.57 bhp4 Star SafetyView November Offers',
 'Hyundai i20Rs.6.87 - 10.43 Lakh* (View On Road Price)Petrol20 kmplManual/Automatic1197 cc87 bhp5 SeatsView November Offers',
 'Hyundai VernaRs.10.69 - 16.98 Lakh* (View On Road Price)Petrol20.6 kmplManual/Automatic1497 cc157.57 bhp5 Star SafetyView November Offers',
 'Hyundai AuraRs.5.98 - 8.42 Lakh* (View On Road Price)Petrol/CNG17 kmplManual/Automatic1197 cc82 bhp5 SeatsView November Offers',
 'Hyundai ExterRs.5.68 - 9.61 Lakh* (View On Road Price)Petrol/CNG19.4 kmplManual/Automatic1197 cc81.8 bhp5 SeatsView November Offers',
 'Hyundai AlcazarRs.14.47 - 21.10 Lakh* (View On Road Price)Diesel/Petrol20.4 kmplManual/Automatic1493 cc158 bhp6, 7 SeatsView November Offers',
 'Hyundai TucsonRs.27.32 - 33.64 Lakh* (View On Road Price)Diesel/Petrol18 kmplAutomatic1999 cc183.72 bhp5 SeatsView November Offers',
 'Hyundai Creta ElectricRs.18.02 - 24.55 Lakh* (View On Road Price)ElectricAutomatic510 km51.4 kWh169 bhp6 Airbags5 SeatsView November Offers',
 'Hyundai Creta N LineRs.17.83 - 20.09 Lakh* (View On Road Price)Petrol18.2 kmplManual/Automatic1482 cc158 bhp5 SeatsView November Offers',
 'Hyundai Venue N LineRs.11.11 - 12.81 Lakh* (View On Road Price)Petrol18 kmplManual/Automatic998 cc118.41 bhp5 SeatsView November Offers',
 'Hyundai Grand i10 NiosRs.5.47 - 7.92 Lakh* (View On Road Price)Petrol/CNG18 kmplManual/Automatic1197 cc82 bhp5 SeatsView November Offers',
 'Hyundai i20 N-LineRs.9.14 - 11.60 Lakh* (View On Road Price)Petrol20 kmplManual/Automatic998 cc118 bhp5 SeatsView November Offers',
 'Hyundai IONIQ 5Rs.46.05 Lakh* (View On Road Price)ElectricAutomatic631 km72.6 kWh214.56 bhp6 Airbags5 SeatsView November Offers']

In [42]:
raw_data3 = [
 'Hyundai VenueRs.7.26 - 12.46 Lakh* (View On Road Price)Diesel/Petrol24.2 kmplManual/Automatic1493 cc118 bhp4 Star SafetyView November Offers',
 'Hyundai CretaRs.10.73 - 20.20 Lakh* (View On Road Price)Diesel/Petrol21.8 kmplManual/Automatic1497 cc157.57 bhp4 Star SafetyView November Offers',
 'Hyundai i20Rs.6.87 - 10.43 Lakh* (View On Road Price)Petrol20 kmplManual/Automatic1197 cc87 bhp5 SeatsView November Offers',
 'Hyundai VernaRs.10.69 - 16.98 Lakh* (View On Road Price)Petrol20.6 kmplManual/Automatic1497 cc157.57 bhp5 Star SafetyView November Offers',
 'Hyundai AuraRs.5.98 - 8.42 Lakh* (View On Road Price)Petrol/CNG17 kmplManual/Automatic1197 cc82 bhp5 SeatsView November Offers',
 'Hyundai ExterRs.5.68 - 9.61 Lakh* (View On Road Price)Petrol/CNG19.4 kmplManual/Automatic1197 cc81.8 bhp5 SeatsView November Offers',
 'Hyundai AlcazarRs.14.47 - 21.10 Lakh* (View On Road Price)Diesel/Petrol20.4 kmplManual/Automatic1493 cc158 bhp6, 7 SeatsView November Offers',
 'Hyundai TucsonRs.27.32 - 33.64 Lakh* (View On Road Price)Diesel/Petrol18 kmplAutomatic1999 cc183.72 bhp5 SeatsView November Offers',
 'Hyundai Creta ElectricRs.18.02 - 24.55 Lakh* (View On Road Price)ElectricAutomatic510 km51.4 kWh169 bhp6 Airbags5 SeatsView November Offers',
 'Hyundai Creta N LineRs.17.83 - 20.09 Lakh* (View On Road Price)Petrol18.2 kmplManual/Automatic1482 cc158 bhp5 SeatsView November Offers',
 'Hyundai Venue N LineRs.11.11 - 12.81 Lakh* (View On Road Price)Petrol18 kmplManual/Automatic998 cc118.41 bhp5 SeatsView November Offers',
 'Hyundai Grand i10 NiosRs.5.47 - 7.92 Lakh* (View On Road Price)Petrol/CNG18 kmplManual/Automatic1197 cc82 bhp5 SeatsView November Offers',
 'Hyundai i20 N-LineRs.9.14 - 11.60 Lakh* (View On Road Price)Petrol20 kmplManual/Automatic998 cc118 bhp5 SeatsView November Offers',
 'Hyundai IONIQ 5Rs.46.05 Lakh* (View On Road Price)ElectricAutomatic631 km72.6 kWh214.56 bhp6 Airbags5 SeatsView November Offers'
]

data3 = []

for item in raw_data3:
    brand = "Hyundai"
    model = re.findall(r'Hyundai\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data3.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df3 = pd.DataFrame(data3, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df3['country_origin'] = 'India'

df3

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Hyundai,Venue,7.26 - 12.46 Lakh,Diesel/Petrol,24.2,Manual/Automatic,1493,,India
1,Hyundai,Creta,10.73 - 20.20 Lakh,Diesel/Petrol,21.8,Manual/Automatic,1497,,India
2,Hyundai,i20,6.87 - 10.43 Lakh,Petrol,20,Manual/Automatic,1197,5,India
3,Hyundai,Verna,10.69 - 16.98 Lakh,Petrol,20.6,Manual/Automatic,1497,,India
4,Hyundai,Aura,5.98 - 8.42 Lakh,Petrol/CNG,17,Manual/Automatic,1197,5,India
5,Hyundai,Exter,5.68 - 9.61 Lakh,Petrol/CNG,19.4,Manual/Automatic,1197,5,India
6,Hyundai,Alcazar,14.47 - 21.10 Lakh,Diesel/Petrol,20.4,Manual/Automatic,1493,7,India
7,Hyundai,Tucson,27.32 - 33.64 Lakh,Diesel/Petrol,18,Automatic,1999,5,India
8,Hyundai,Creta Electric,18.02 - 24.55 Lakh,Electric,,Automatic,,5,India
9,Hyundai,Creta N Line,17.83 - 20.09 Lakh,Petrol,18.2,Manual/Automatic,1482,5,India
10,Hyundai,Venue N Line,11.11 - 12.81 Lakh,Petrol,18,Manual/Automatic,998,5,India
11,Hyundai,Grand i10 Nios,5.47 - 7.92 Lakh,Petrol/CNG,18,Manual/Automatic,1197,5,India
12,Hyundai,i20 N-Line,9.14 - 11.60 Lakh,Petrol,20,Manual/Automatic,998,5,India
13,Hyundai,IONIQ 5,46.05 Lakh,Electric,,Automatic,,5,India

In [43]:
url = 'https://www.cardekho.com/cars/Kia'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
response

In [44]:
html_code5=response.text

In [45]:
html_code5[:2000]

'<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Kia Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Kia Cars Price in India - Kia has currently 9 car models on sale, check prices of all Kia car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Kia/Sonet/9783/1755775200530/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Kia">      <link rel="amphtml" href="https://www.cardekho.com/cars/Kia?amp=1">       <meta property="og:title" content="Kia Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Kia/Sonet/9783/1738729674336/Gravity-Grey_242729.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Kia"><meta property="og:description" content="Kia Cars Price in India - Kia has currently 9 car model'

In [46]:
Title4 = []


soup4 = BeautifulSoup(html_code5, "html.parser")

Name4 = soup4.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h4 in Name4:
    Title4.append(h4.text.strip())

In [47]:
Title4

['Kia SonetRs.7.30 - 14 Lakh* (View On Road Price)Diesel/Petrol24.1 kmplManual/Automatic1493 cc118 bhp5 SeatsView November Offers',
 'Kia CarensRs.10.99 - 12.77 Lakh* (View On Road Price)Diesel/Petrol/CNG12.6 kmplManual1497 cc114.41 bhp3 Star SafetyView November Offers',
 'Kia SeltosRs.10.79 - 19.81 Lakh* (View On Road Price)Diesel/Petrol20.7 kmplManual/Automatic1497 cc157.81 bhp3 Star SafetyView November Offers',
 'Kia CarnivalRs.59.42 Lakh* (View On Road Price)Diesel14.85 kmplAutomatic2151 cc190 bhp7 SeatsView November Offers',
 'Kia SyrosRs.8.67 - 15.94 Lakh* (View On Road Price)Diesel/Petrol20.75 kmplManual/Automatic1493 cc118 bhp5 SeatsView November Offers',
 'Kia Carens ClavisRs.11.08 - 20.71 Lakh* (View On Road Price)Diesel/Petrol19.54 kmplManual/Automatic1497 cc157.57 bhp6, 7 SeatsView November Offers',
 'Kia EV6Rs.65.97 Lakh* (View On Road Price)ElectricAutomatic663 km84 kWh321 bhp8 Airbags5 SeatsView November Offers',
 'Kia EV9Rs.1.30 Cr* (View On Road Price)ElectricAutomatic561 km99.8 kWh379 bhp10 Airbags6 SeatsView November Offers',
 'Kia Carens Clavis EVRs.17.99 - 24.49 Lakh* (View On Road Price)ElectricAutomatic490 km51.4 kWh169 bhp7 SeatsView November Offers']

In [48]:
raw_data4 = [
 'Kia SonetRs.7.30 - 14 Lakh* (View On Road Price)Diesel/Petrol24.1 kmplManual/Automatic1493 cc118 bhp5 SeatsView November Offers',
 'Kia CarensRs.10.99 - 12.77 Lakh* (View On Road Price)Diesel/Petrol/CNG12.6 kmplManual1497 cc114.41 bhp3 Star SafetyView November Offers',
 'Kia SeltosRs.10.79 - 19.81 Lakh* (View On Road Price)Diesel/Petrol20.7 kmplManual/Automatic1497 cc157.81 bhp3 Star SafetyView November Offers',
 'Kia CarnivalRs.59.42 Lakh* (View On Road Price)Diesel14.85 kmplAutomatic2151 cc190 bhp7 SeatsView November Offers',
 'Kia SyrosRs.8.67 - 15.94 Lakh* (View On Road Price)Diesel/Petrol20.75 kmplManual/Automatic1493 cc118 bhp5 SeatsView November Offers',
 'Kia Carens ClavisRs.11.08 - 20.71 Lakh* (View On Road Price)Diesel/Petrol19.54 kmplManual/Automatic1497 cc157.57 bhp6, 7 SeatsView November Offers',
 'Kia EV6Rs.65.97 Lakh* (View On Road Price)ElectricAutomatic663 km84 kWh321 bhp8 Airbags5 SeatsView November Offers',
 'Kia EV9Rs.1.30 Cr* (View On Road Price)ElectricAutomatic561 km99.8 kWh379 bhp10 Airbags6 SeatsView November Offers',
 'Kia Carens Clavis EVRs.17.99 - 24.49 Lakh* (View On Road Price)ElectricAutomatic490 km51.4 kWh169 bhp7 SeatsView November Offers'
]

data4 = []

for item in raw_data4:
    brand = "Kia"
    model = re.findall(r'Kia\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data4.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df4 = pd.DataFrame(data4, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df4['country_origin'] = 'India'

df4

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Kia,Sonet,7.30 - 14 Lakh,Diesel/Petrol,24.1,Manual/Automatic,1493,5,India
1,Kia,Carens,10.99 - 12.77 Lakh,Diesel/Petrol/CNG,12.6,Manual,1497,,India
2,Kia,Seltos,10.79 - 19.81 Lakh,Diesel/Petrol,20.7,Manual/Automatic,1497,,India
3,Kia,Carnival,59.42 Lakh,Diesel,14.85,Automatic,2151,7,India
4,Kia,Syros,8.67 - 15.94 Lakh,Diesel/Petrol,20.75,Manual/Automatic,1493,5,India
5,Kia,Carens Clavis,11.08 - 20.71 Lakh,Diesel/Petrol,19.54,Manual/Automatic,1497,7,India
6,Kia,EV6,65.97 Lakh,Electric,,Automatic,,5,India
7,Kia,EV9,1.30 Cr,Electric,,Automatic,,6,India
8,Kia,Carens Clavis EV,17.99 - 24.49 Lakh,Electric,,Automatic,,7,India

In [49]:
url = 'https://www.cardekho.com/toyota-cars'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code6=response.text

print(html_code6[:2000])

Title5 = []


soup5 = BeautifulSoup(html_code6, "html.parser")

Name5 = soup5.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h5 in Name5:
    Title5.append(h5.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Toyota Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Toyota Cars Price in India - Toyota has currently 12 car models on sale, check prices of all Toyota car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Toyota/Fortuner/10904/1755846017683/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/toyota-cars">      <link rel="amphtml" href="https://www.cardekho.com/toyota-cars?amp=1">       <meta property="og:title" content="Toyota Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Toyota/Glanza/10231/1686812872137/225_cafe-white_d0d0d0.jpg"><meta property="og:url" content="https://www.cardekho.com/toyota-cars"><meta property="og:description" content="Toyota Cars Pric

In [50]:
Title5

['Toyota FortunerRs.33.65 - 48.85 Lakh* (View On Road Price)Diesel/Petrol11 kmplManual/Automatic2755 cc201.15 bhp7 SeatsView November Offers',
 'Toyota Innova CrystaRs.18.66 - 25.27 Lakh* (View On Road Price)Diesel9 kmplManual2393 cc147.51 bhp5 Star SafetyView November Offers',
 'Toyota Urban Cruiser HyryderRs.10.95 - 19.76 Lakh* (View On Road Price)Petrol/CNG27.97 kmplManual/Automatic1490 cc101.64 bhp5 SeatsView November Offers',
 'Toyota VellfireRs.1.20 - 1.30 Cr* (View On Road Price)Petrol16 kmplAutomatic2487 cc190.42 bhp4 Star SafetyView November Offers',
 'Toyota Land Cruiser 300Rs.2.16 - 2.25 Cr* (View On Road Price)Diesel11 kmplAutomatic3346 cc304.41 bhp5 Star SafetyView November Offers',
 'Toyota Innova HycrossRs.18.16 - 30.83 Lakh* (View On Road Price)Petrol23.24 kmplAutomatic1987 cc183.72 bhp7, 8 SeatsView November Offers',
 'Toyota GlanzaRs.6.39 - 9.15 Lakh* (View On Road Price)Petrol/CNG22.94 kmplManual/Automatic1197 cc88.5 bhp5 SeatsView November Offers',
 'Toyota HiluxRs.28.02 - 35.37 Lakh* (View On Road Price)Diesel10 kmplManual/Automatic2755 cc201.15 bhp5 Star SafetyView November Offers',
 'Toyota TaisorRs.7.21 - 12.06 Lakh* (View On Road Price)Petrol/CNG22.8 kmplManual/Automatic1197 cc98.69 bhp5 SeatsView November Offers',
 'Toyota CamryRs.47.48 Lakh* (View On Road Price)Petrol25.49 kmplAutomatic2487 cc227 bhp5 SeatsView November Offers',
 'Toyota Fortuner LegenderRs.41.54 - 46.75 Lakh* (View On Road Price)Diesel10.52 kmplManual/Automatic2755 cc201.15 bhp7 SeatsView November Offers',
 'Toyota RumionRs.10.44 - 13.62 Lakh* (View On Road Price)Petrol/CNG20.51 kmplManual/Automatic1462 cc101.64 bhp5 Star SafetyView November Offers']

In [51]:
raw_data5 = [
'Toyota FortunerRs.33.65 - 48.85 Lakh* (View On Road Price)Diesel/Petrol11 kmplManual/Automatic2755 cc201.15 bhp7 SeatsView November Offers',
 'Toyota Innova CrystaRs.18.66 - 25.27 Lakh* (View On Road Price)Diesel9 kmplManual2393 cc147.51 bhp5 Star SafetyView November Offers',
 'Toyota Urban Cruiser HyryderRs.10.95 - 19.76 Lakh* (View On Road Price)Petrol/CNG27.97 kmplManual/Automatic1490 cc101.64 bhp5 SeatsView November Offers',
 'Toyota VellfireRs.1.20 - 1.30 Cr* (View On Road Price)Petrol16 kmplAutomatic2487 cc190.42 bhp4 Star SafetyView November Offers',
 'Toyota Land Cruiser 300Rs.2.16 - 2.25 Cr* (View On Road Price)Diesel11 kmplAutomatic3346 cc304.41 bhp5 Star SafetyView November Offers',
 'Toyota Innova HycrossRs.18.16 - 30.83 Lakh* (View On Road Price)Petrol23.24 kmplAutomatic1987 cc183.72 bhp7, 8 SeatsView November Offers',
 'Toyota GlanzaRs.6.39 - 9.15 Lakh* (View On Road Price)Petrol/CNG22.94 kmplManual/Automatic1197 cc88.5 bhp5 SeatsView November Offers',
 'Toyota HiluxRs.28.02 - 35.37 Lakh* (View On Road Price)Diesel10 kmplManual/Automatic2755 cc201.15 bhp5 Star SafetyView November Offers',
 'Toyota TaisorRs.7.21 - 12.06 Lakh* (View On Road Price)Petrol/CNG22.8 kmplManual/Automatic1197 cc98.69 bhp5 SeatsView November Offers',
 'Toyota CamryRs.47.48 Lakh* (View On Road Price)Petrol25.49 kmplAutomatic2487 cc227 bhp5 SeatsView November Offers',
 'Toyota Fortuner LegenderRs.41.54 - 46.75 Lakh* (View On Road Price)Diesel10.52 kmplManual/Automatic2755 cc201.15 bhp7 SeatsView November Offers',
 'Toyota RumionRs.10.44 - 13.62 Lakh* (View On Road Price)Petrol/CNG20.51 kmplManual/Automatic1462 cc101.64 bhp5 Star SafetyView November Offers'
]

data5 = []

for item in raw_data5:
    brand = "Toyota"
    model = re.findall(r'Toyota\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data5.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df5 = pd.DataFrame(data5, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df5['country_origin'] = 'India'

df5

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Toyota,Fortuner,33.65 - 48.85 Lakh,Diesel/Petrol,11,Manual/Automatic,2755,7,India
1,Toyota,Innova Crysta,18.66 - 25.27 Lakh,Diesel,9,Manual,2393,,India
2,Toyota,Urban Cruiser Hyryder,10.95 - 19.76 Lakh,Petrol/CNG,27.97,Manual/Automatic,1490,5,India
3,Toyota,Vellfire,1.20 - 1.30 Cr,Petrol,16,Automatic,2487,,India
4,Toyota,Land Cruiser 300,2.16 - 2.25 Cr,Diesel,11,Automatic,3346,,India
5,Toyota,Innova Hycross,18.16 - 30.83 Lakh,Petrol,23.24,Automatic,1987,8,India
6,Toyota,Glanza,6.39 - 9.15 Lakh,Petrol/CNG,22.94,Manual/Automatic,1197,5,India
7,Toyota,Hilux,28.02 - 35.37 Lakh,Diesel,10,Manual/Automatic,2755,,India
8,Toyota,Taisor,7.21 - 12.06 Lakh,Petrol/CNG,22.8,Manual/Automatic,1197,5,India
9,Toyota,Camry,47.48 Lakh,Petrol,25.49,Automatic,2487,5,India
10,Toyota,Fortuner Legender,41.54 - 46.75 Lakh,Diesel,10.52,Manual/Automatic,2755,7,India
11,Toyota,Rumion,10.44 - 13.62 Lakh,Petrol/CNG,20.51,Manual/Automatic,1462,,India

In [52]:
url = 'https://www.cardekho.com/cars/Honda'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code7=response.text

print(html_code7[:2000])

Title6 = []


soup6 = BeautifulSoup(html_code7, "html.parser")

Name6 = soup6.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h6 in Name6:
    Title6.append(h6.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Honda Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Honda Cars Price in India - Honda has currently 5 car models on sale, check prices of all Honda car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Honda/Amaze/12185/1755764679476/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Honda">      <link rel="amphtml" href="https://www.cardekho.com/cars/Honda?amp=1">       <meta property="og:title" content="Honda Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Honda/Amaze/10519/1689589209619/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Honda"><meta property="og:description" content="Honda Cars Price in India - Honda

In [54]:
Title6

['Honda AmazeRs.7.41 - 10 Lakh* (View On Road Price)19.46 kmplManual/Automatic1199 cc89 bhp2 Star SafetyView November Offers',
 'Honda CityRs.11.95 - 16.07 Lakh* (View On Road Price)18.4 kmplManual/Automatic1498 cc119.35 bhp5 SeatsView November Offers',
 'Honda ElevateRs.11 - 16.15 Lakh* (View On Road Price)16.92 kmplManual/Automatic1498 cc119 bhp5 SeatsView November Offers',
 'Honda City HybridRs.19.48 Lakh* (View On Road Price)27.13 kmplAutomatic1498 cc96.55 bhp5 SeatsView November Offers',
 'Honda Amaze 2nd GenRs.6.98 - 7.80 Lakh* (View On Road Price)18.6 kmplManual/Automatic1199 cc88.5 bhp2 Star SafetyView November Offers']

In [55]:
raw_data6 = [
'Honda AmazeRs.7.41 - 10 Lakh* (View On Road Price)19.46 kmplManual/Automatic1199 cc89 bhp2 Star SafetyView November Offers',
 'Honda CityRs.11.95 - 16.07 Lakh* (View On Road Price)18.4 kmplManual/Automatic1498 cc119.35 bhp5 SeatsView November Offers',
 'Honda ElevateRs.11 - 16.15 Lakh* (View On Road Price)16.92 kmplManual/Automatic1498 cc119 bhp5 SeatsView November Offers',
 'Honda City HybridRs.19.48 Lakh* (View On Road Price)27.13 kmplAutomatic1498 cc96.55 bhp5 SeatsView November Offers',
 'Honda Amaze 2nd GenRs.6.98 - 7.80 Lakh* (View On Road Price)18.6 kmplManual/Automatic1199 cc88.5 bhp2 Star SafetyView November Offers'
]

data6 = []

for item in raw_data6:
    brand = "Toyota"
    model = re.findall(r'Toyota\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data6.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df6 = pd.DataFrame(data6, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df6['country_origin'] = 'India'

df6

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Toyota,,7.41 - 10 Lakh,,19.46,Manual/Automatic,1199,,India
1,Toyota,,11.95 - 16.07 Lakh,,18.4,Manual/Automatic,1498,5,India
2,Toyota,,11 - 16.15 Lakh,,16.92,Manual/Automatic,1498,5,India
3,Toyota,,19.48 Lakh,,27.13,Automatic,1498,5,India
4,Toyota,,6.98 - 7.80 Lakh,,18.6,Manual/Automatic,1199,,India

In [58]:
url = 'https://www.cardekho.com/cars/MG'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code8=response.text

print(html_code8[:2000])

Title7 = []


soup7 = BeautifulSoup(html_code8, "html.parser")

Name7 = soup7.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h7 in Name7:
    Title7.append(h7.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>MG Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="MG Cars Price in India - MG has currently 9 car models on sale, check prices of all MG car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/MG/Windsor-EV/11848/1755845275936/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/MG">      <link rel="amphtml" href="https://www.cardekho.com/cars/MG?amp=1">       <meta property="og:title" content="MG Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/MG/Comet-EV/11556/1755844148594/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/MG"><meta property="og:description" content="MG Cars Price in India - MG has currently 9 car models o

In [59]:
Title7

['MG Windsor EVRs.12.65 - 18.39 Lakh* (View On Road Price)ElectricAutomatic449 km52.9 kWh134 bhp6 Airbags5 SeatsView November Offers',
 'MG HectorRs.14 - 20.76 Lakh* (View On Road Price)Diesel/Petrol15.58 kmplManual/Automatic1956 cc167.67 bhp5 Star SafetyView November Offers',
 'MG CybersterRs.75 Lakh* (View On Road Price)ElectricAutomatic580 km77 kWh503 bhp4 Airbags2 SeatsView November Offers',
 'MG Comet EVRs.7.50 - 9.56 Lakh* (View On Road Price)ElectricAutomatic230 km17.4 kWh42 bhp2 Airbags4 SeatsView November Offers',
 'MG AstorRs.9.65 - 16.24 Lakh* (View On Road Price)Petrol15.43 kmplManual/Automatic1498 cc108.49 bhp5 Star SafetyView November Offers',
 'MG M9Rs.69.90 Lakh* (View On Road Price)ElectricAutomatic548 km90 kWh242 bhp7 Airbags7 SeatsView November Offers',
 'MG GlosterRs.38.33 - 43.16 Lakh* (View On Road Price)Diesel10 kmplAutomatic1996 cc212.55 bhp6, 7 SeatsView November Offers',
 'MG ZS EVRs.17.99 - 20.50 Lakh* (View On Road Price)ElectricAutomatic461 km50.3 kWh174.33 bhp6 Airbags5 Star SafetyView November Offers',
 'MG Hector PlusRs.16.05 - 22.75 Lakh* (View On Road Price)Diesel/Petrol15.58 kmplManual/Automatic1956 cc167.67 bhp5 Star SafetyView November Offers']

In [60]:
raw_data7 = [
'MG Windsor EVRs.12.65 - 18.39 Lakh* (View On Road Price)ElectricAutomatic449 km52.9 kWh134 bhp6 Airbags5 SeatsView November Offers',
 'MG HectorRs.14 - 20.76 Lakh* (View On Road Price)Diesel/Petrol15.58 kmplManual/Automatic1956 cc167.67 bhp5 Star SafetyView November Offers',
 'MG CybersterRs.75 Lakh* (View On Road Price)ElectricAutomatic580 km77 kWh503 bhp4 Airbags2 SeatsView November Offers',
 'MG Comet EVRs.7.50 - 9.56 Lakh* (View On Road Price)ElectricAutomatic230 km17.4 kWh42 bhp2 Airbags4 SeatsView November Offers',
 'MG AstorRs.9.65 - 16.24 Lakh* (View On Road Price)Petrol15.43 kmplManual/Automatic1498 cc108.49 bhp5 Star SafetyView November Offers',
 'MG M9Rs.69.90 Lakh* (View On Road Price)ElectricAutomatic548 km90 kWh242 bhp7 Airbags7 SeatsView November Offers',
 'MG GlosterRs.38.33 - 43.16 Lakh* (View On Road Price)Diesel10 kmplAutomatic1996 cc212.55 bhp6, 7 SeatsView November Offers',
 'MG ZS EVRs.17.99 - 20.50 Lakh* (View On Road Price)ElectricAutomatic461 km50.3 kWh174.33 bhp6 Airbags5 Star SafetyView November Offers',
 'MG Hector PlusRs.16.05 - 22.75 Lakh* (View On Road Price)Diesel/Petrol15.58 kmplManual/Automatic1956 cc167.67 bhp5 Star SafetyView November Offers'
]

data7 = []

for item in raw_data7:
    brand = "MG"
    model = re.findall(r'MG\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data7.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df7 = pd.DataFrame(data7, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df7['country_origin'] = 'India'

df7

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,MG,Windsor EV,12.65 - 18.39 Lakh,Electric,,Automatic,,5,India
1,MG,Hector,14 - 20.76 Lakh,Diesel/Petrol,15.58,Manual/Automatic,1956,,India
2,MG,Cyberster,75 Lakh,Electric,,Automatic,,2,India
3,MG,Comet EV,7.50 - 9.56 Lakh,Electric,,Automatic,,4,India
4,MG,Astor,9.65 - 16.24 Lakh,Petrol,15.43,Manual/Automatic,1498,,India
5,MG,M9,69.90 Lakh,Electric,,Automatic,,7,India
6,MG,Gloster,38.33 - 43.16 Lakh,Diesel,10,Automatic,1996,7,India
7,MG,ZS EV,17.99 - 20.50 Lakh,Electric,,Automatic,,,India
8,MG,Hector Plus,16.05 - 22.75 Lakh,Diesel/Petrol,15.58,Manual/Automatic,1956,,India

In [63]:
url = 'https://www.cardekho.com/cars/Skoda'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code9=response.text

print(html_code9[:2000])

Title8 = []


soup8 = BeautifulSoup(html_code9, "html.parser")

Name8 = soup8.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h8 in Name8:
    Title8.append(h8.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Skoda Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Skoda Cars Price in India - Skoda has currently 5 car models on sale, check prices of all Skoda car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Skoda/Kylaq/11528/1753967566744/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Skoda">      <link rel="amphtml" href="https://www.cardekho.com/cars/Skoda?amp=1">       <meta property="og:title" content="Skoda Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Skoda/Kylaq/11528/1733217246568/221_Olive-Gold_9db200.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Skoda"><meta property="og:description" content="Skoda Cars Price in India - Sko

In [64]:
Title8

['Skoda KylaqRs.7.55 - 12.80 Lakh* (View On Road Price)19.68 kmplManual/Automatic999 cc114 bhp5 SeatsView November Offers',
 'Skoda SlaviaRs.10 - 17.70 Lakh* (View On Road Price)20.32 kmplManual/Automatic1498 cc147.51 bhp5 Star SafetyView November Offers',
 'Skoda KushaqRs.10.61 - 18.43 Lakh* (View On Road Price)19.76 kmplManual/Automatic1498 cc147.51 bhp5 Star SafetyView November Offers',
 'Skoda KodiaqRs.39.99 - 45.96 Lakh* (View On Road Price)14.86 kmplAutomatic1984 cc201 bhp5, 7 SeatsView November Offers',
 'Skoda Octavia RSRs.49.99 Lakh* (View On Road Price)Automatic1984 cc261.49 bhp5 SeatsView November Offers']

In [65]:
raw_data8 = [
'Skoda KylaqRs.7.55 - 12.80 Lakh* (View On Road Price)19.68 kmplManual/Automatic999 cc114 bhp5 SeatsView November Offers',
 'Skoda SlaviaRs.10 - 17.70 Lakh* (View On Road Price)20.32 kmplManual/Automatic1498 cc147.51 bhp5 Star SafetyView November Offers',
 'Skoda KushaqRs.10.61 - 18.43 Lakh* (View On Road Price)19.76 kmplManual/Automatic1498 cc147.51 bhp5 Star SafetyView November Offers',
 'Skoda KodiaqRs.39.99 - 45.96 Lakh* (View On Road Price)14.86 kmplAutomatic1984 cc201 bhp5, 7 SeatsView November Offers',
 'Skoda Octavia RSRs.49.99 Lakh* (View On Road Price)Automatic1984 cc261.49 bhp5 SeatsView November Offers'
]

data8 = []

for item in raw_data8:
    brand = "Skoda"
    model = re.findall(r'Skoda\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data8.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df8 = pd.DataFrame(data8, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df8['country_origin'] = 'India'

df8

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Skoda,Kylaq,7.55 - 12.80 Lakh,,19.68,Manual/Automatic,999,5,India
1,Skoda,Slavia,10 - 17.70 Lakh,,20.32,Manual/Automatic,1498,,India
2,Skoda,Kushaq,10.61 - 18.43 Lakh,,19.76,Manual/Automatic,1498,,India
3,Skoda,Kodiaq,39.99 - 45.96 Lakh,,14.86,Automatic,1984,7,India
4,Skoda,Octavia RS,49.99 Lakh,,,Automatic,1984,5,India

In [66]:
url = 'https://www.cardekho.com/cars/Jeep'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code10=response.text

print(html_code10[:2000])

Title9 = []


soup9 = BeautifulSoup(html_code10, "html.parser")

Name8 = soup9.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h8 in Name8:
    Title9.append(h8.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Jeep Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Jeep Cars Price in India - Jeep has currently 4 car models on sale, check prices of all Jeep car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Jeep/Compass/10938/1755774843690/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Jeep">      <link rel="amphtml" href="https://www.cardekho.com/cars/Jeep?amp=1">       <meta property="og:title" content="Jeep Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Jeep/Compass/10942/1690624122271/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Jeep"><meta property="og:description" content="Jeep Cars Price in India - Jeep has curr

In [68]:
Title9

['Jeep CompassRs.17.73 - 30.50 Lakh* (View On Road Price)17.1 kmplManual/Automatic1956 cc168 bhp5 Star SafetyView November Offers',
 'Jeep WranglerRs.64.08 - 67.81 Lakh* (View On Road Price)11.4 kmplAutomatic1995 cc268.2 bhp5 SeatsView November Offers',
 'Jeep MeridianRs.23.33 - 36.21 Lakh* (View On Road Price)14.1 kmplManual/Automatic1956 cc168 bhp5 Star SafetyView November Offers',
 'Jeep Grand CherokeeRs.63 Lakh* (View On Road Price)7.2 kmplAutomatic1995 cc268.27 bhp5 SeatsView November Offers']

In [74]:
raw_data9 = [
'Jeep CompassRs.17.73 - 30.50 Lakh* (View On Road Price)17.1 kmplManual/Automatic1956 cc168 bhp5 Star SafetyView November Offers',
 'Jeep WranglerRs.64.08 - 67.81 Lakh* (View On Road Price)11.4 kmplAutomatic1995 cc268.2 bhp5 SeatsView November Offers',
 'Jeep MeridianRs.23.33 - 36.21 Lakh* (View On Road Price)14.1 kmplManual/Automatic1956 cc168 bhp5 Star SafetyView November Offers',
 'Jeep Grand CherokeeRs.63 Lakh* (View On Road Price)7.2 kmplAutomatic1995 cc268.27 bhp5 SeatsView November Offers'
]

data9 = []

for item in raw_data9:
    brand = "Jeep"
    model = re.findall(r'Jeep\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data9.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df9 = pd.DataFrame(data9, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df9['country_origin'] = 'American'

df9

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Jeep,Compass,17.73 - 30.50 Lakh,,17.1,Manual/Automatic,1956,,American
1,Jeep,Wrangler,64.08 - 67.81 Lakh,,11.4,Automatic,1995,5,American
2,Jeep,Meridian,23.33 - 36.21 Lakh,,14.1,Manual/Automatic,1956,,American
3,Jeep,Grand Cherokee,63 Lakh,,7.2,Automatic,1995,5,American

In [78]:
url = 'https://www.cardekho.com/cars/Renault'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code11=response.text

print(html_code11[:2000])

Title10 = []


soup10 = BeautifulSoup(html_code11, "html.parser")

Name8 = soup10.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h8 in Name8:
    Title10.append(h8.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Renault Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Renault Cars Price in India - Renault has currently 3 car models on sale, check prices of all Renault car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Renault/Triber/12296/1761908688036/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Renault">      <link rel="amphtml" href="https://www.cardekho.com/cars/Renault?amp=1">       <meta property="og:title" content="Renault Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Renault/KWID/11071/1727246670445/228_fiery-red---dual-tone_960403_151419.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Renault"><meta property="og:description" co

In [79]:
Title10

['Renault TriberRs.5.76 - 8.60 Lakh* (View On Road Price)20 kmplManual/Automatic999 cc71.01 bhp7 SeatsView November Offers',
 'Renault KWIDRs.4.30 - 5.90 Lakh* (View On Road Price)22.3 kmplManual/Automatic999 cc67.06 bhp1 Star SafetyView November Offers',
 'Renault KigerRs.5.76 - 10.34 Lakh* (View On Road Price)20.38 kmplManual/Automatic999 cc98.63 bhp4 Star SafetyView November Offers']

In [80]:
raw_data10 = [
'Jeep CompassRs.17.73 - 30.50 Lakh* (View On Road Price)17.1 kmplManual/Automatic1956 cc168 bhp5 Star SafetyView November Offers',
 'Jeep WranglerRs.64.08 - 67.81 Lakh* (View On Road Price)11.4 kmplAutomatic1995 cc268.2 bhp5 SeatsView November Offers',
 'Jeep MeridianRs.23.33 - 36.21 Lakh* (View On Road Price)14.1 kmplManual/Automatic1956 cc168 bhp5 Star SafetyView November Offers',
 'Jeep Grand CherokeeRs.63 Lakh* (View On Road Price)7.2 kmplAutomatic1995 cc268.27 bhp5 SeatsView November Offers'
]

data10 = []

for item in raw_data10:
    brand = "Renault"
    model = re.findall(r'Renault\s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data10.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df10 = pd.DataFrame(data10, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df10['country_origin'] = 'American'

df10

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Renault,Triber,5.76 - 8.60 Lakh,,20,Manual/Automatic,999,7,American
1,Renault,KWID,4.30 - 5.90 Lakh,,22.3,Manual/Automatic,999,,American
2,Renault,Kiger,5.76 - 10.34 Lakh,,20.38,Manual/Automatic,999,,American

In [95]:
url = 'https://www.cardekho.com/cars/Nissan'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code12=response.text

print(html_code12[:2000])

Title11 = []


soup11 = BeautifulSoup(html_code12, "html.parser")

Name8 = soup11.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h8 in Name8:
    Title11.append(h8.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Nissan Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Nissan Cars Price in India - Nissan has currently 2 car models on sale, check prices of all Nissan car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Nissan/Magnite/11793/1760004620755/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Nissan">      <link rel="amphtml" href="https://www.cardekho.com/cars/Nissan?amp=1">       <meta property="og:title" content="Nissan Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Nissan/Magnite/12130/1755690157963/Vivid-Blue-with-Onyx-Black_0d6ec0.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Nissan"><meta property="og:description" content="Nissa

In [96]:
Title11

['Nissan MagniteRs.5.62 - 10.76 Lakh* (View On Road Price)Petrol/CNG19.9 kmplManual/Automatic999 cc99 bhp5 Star SafetyView November Offers',
 'Nissan X-TrailRs.48.20 Lakh* (View On Road Price)Petrol10 kmplAutomatic1498 cc161 bhp7 SeatsView November Offers']

In [98]:
raw_data11 = [
'Nissan MagniteRs.5.62 - 10.76 Lakh* (View On Road Price)Petrol/CNG19.9 kmplManual/Automatic999 cc99 bhp5 Star SafetyView November Offers',
 'Nissan X-TrailRs.48.20 Lakh* (View On Road Price)Petrol10 kmplAutomatic1498 cc161 bhp7 SeatsView November Offers'
]

data11 = []

for item in raw_data11:
    brand = "Nissan "
    model = re.findall(r'Nissan \s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data11.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df11 = pd.DataFrame(data11, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df11['country_origin'] = 'American'

df11

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Nissan,,5.62 - 10.76 Lakh,Petrol/CNG,19.9,Manual/Automatic,999,,American
1,Nissan,,48.20 Lakh,Petrol,10,Automatic,1498,7,American

In [92]:
url = 'https://www.cardekho.com/cars/Audi'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code13=response.text

print(html_code13[:2000])

Title12 = []


soup12 = BeautifulSoup(html_code13, "html.parser")

Name8 = soup12.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h8 in Name8:
    Title12.append(h8.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Audi Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Audi Cars Price in India - Audi has currently 13 car models on sale, check prices of all Audi car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Audi/A4/10548/1757137106350/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Audi">      <link rel="amphtml" href="https://www.cardekho.com/cars/Audi?amp=1">       <meta property="og:title" content="Audi Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Audi/Q3/10554/1689744358634/224_navarra-blue-metallic_0b1229.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Audi"><meta property="og:description" content="Audi Cars Price in India - Audi has

In [93]:
Title12

['Audi A4Rs.46.25 - 55.11 Lakh* (View On Road Price)15 kmpl1984 cc207 bhp5 SeatsContact Dealer',
 'Audi Q7Rs.86.14 - 95.03 Lakh* (View On Road Price)11 kmpl2995 cc335 bhp7 SeatsContact Dealer',
 'Audi Q3Rs.43.07 - 52.98 Lakh* (View On Road Price)10.14 kmpl1984 cc187.74 bhp5 Star SafetyContact Dealer',
 'Audi A6Rs.63.74 - 69.89 Lakh* (View On Road Price)14.11 kmpl1984 cc241.3 bhp5 Star SafetyContact Dealer',
 'Audi Q5Rs.64.74 - 69.86 Lakh* (View On Road Price)13.47 kmpl1984 cc245.59 bhp5 Star SafetyContact Dealer',
 'Audi Q8Rs.1.10 Cr* (View On Road Price)10 kmpl2995 cc335 bhp5 Star SafetyContact Dealer',
 'Audi RS e-tron GTRs.1.95 Cr* (View On Road Price)481 km93 kWh636.98 bhp5 SeatsContact Dealer',
 'Audi Q3 SportbackRs.52.98 - 53.55 Lakh* (View On Road Price)10.14 kmpl1984 cc187.74 bhp5 SeatsContact Dealer',
 'Audi RS Q8Rs.2.32 Cr* (View On Road Price)9 kmpl3998 cc632 bhp5 SeatsContact Dealer',
 'Audi Q8 e-tronRs.1.15 - 1.27 Cr* (View On Road Price)582 km106 kWh402.3 bhp5 SeatsContact Dealer',
 'Audi e-tron GTRs.1.72 Cr* (View On Road Price)500 km93 kWh522.99 bhp5 SeatsContact Dealer',
 'Audi Q8 Sportback e-tronRs.1.19 - 1.32 Cr* (View On Road Price)600 km114 kWh402.3 bhp5 SeatsContact Dealer',
 'Audi S5 SportbackRs.73.57 - 80.50 Lakh* (View On Road Price)10.6 kmpl2994 cc348.66 bhp5 SeatsContact Dealer']

In [94]:
raw_data12 = [
'Audi A4Rs.46.25 - 55.11 Lakh* (View On Road Price)15 kmpl1984 cc207 bhp5 SeatsContact Dealer',
 'Audi Q7Rs.86.14 - 95.03 Lakh* (View On Road Price)11 kmpl2995 cc335 bhp7 SeatsContact Dealer',
 'Audi Q3Rs.43.07 - 52.98 Lakh* (View On Road Price)10.14 kmpl1984 cc187.74 bhp5 Star SafetyContact Dealer',
 'Audi A6Rs.63.74 - 69.89 Lakh* (View On Road Price)14.11 kmpl1984 cc241.3 bhp5 Star SafetyContact Dealer',
 'Audi Q5Rs.64.74 - 69.86 Lakh* (View On Road Price)13.47 kmpl1984 cc245.59 bhp5 Star SafetyContact Dealer',
 'Audi Q8Rs.1.10 Cr* (View On Road Price)10 kmpl2995 cc335 bhp5 Star SafetyContact Dealer',
 'Audi RS e-tron GTRs.1.95 Cr* (View On Road Price)481 km93 kWh636.98 bhp5 SeatsContact Dealer',
 'Audi Q3 SportbackRs.52.98 - 53.55 Lakh* (View On Road Price)10.14 kmpl1984 cc187.74 bhp5 SeatsContact Dealer',
 'Audi RS Q8Rs.2.32 Cr* (View On Road Price)9 kmpl3998 cc632 bhp5 SeatsContact Dealer',
 'Audi Q8 e-tronRs.1.15 - 1.27 Cr* (View On Road Price)582 km106 kWh402.3 bhp5 SeatsContact Dealer',
 'Audi e-tron GTRs.1.72 Cr* (View On Road Price)500 km93 kWh522.99 bhp5 SeatsContact Dealer',
 'Audi Q8 Sportback e-tronRs.1.19 - 1.32 Cr* (View On Road Price)600 km114 kWh402.3 bhp5 SeatsContact Dealer',
 'Audi S5 SportbackRs.73.57 - 80.50 Lakh* (View On Road Price)10.6 kmpl2994 cc348.66 bhp5 SeatsContact Dealer'
]

data12 = []

for item in raw_data12:
    brand = "Audi "
    model = re.findall(r'Audi \s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data12.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df12 = pd.DataFrame(data12, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df12['country_origin'] = 'American'

df12

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Audi,,46.25 - 55.11 Lakh,,15,,1984,5,American
1,Audi,,86.14 - 95.03 Lakh,,11,,2995,7,American
2,Audi,,43.07 - 52.98 Lakh,,10.14,,1984,,American
3,Audi,,63.74 - 69.89 Lakh,,14.11,,1984,,American
4,Audi,,64.74 - 69.86 Lakh,,13.47,,1984,,American
5,Audi,,1.10 Cr,,10,,2995,,American
6,Audi,,1.95 Cr,,,,,5,American
7,Audi,,52.98 - 53.55 Lakh,,10.14,,1984,5,American
8,Audi,,2.32 Cr,,9,,3998,5,American
9,Audi,,1.15 - 1.27 Cr,,,,,5,American
10,Audi,,1.72 Cr,,,,,5,American
11,Audi,,1.19 - 1.32 Cr,,,,,5,American
12,Audi,,73.57 - 80.50 Lakh,,10.6,,2994,5,American

In [99]:
url = 'https://www.cardekho.com/cars/Volvo'
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }

# Loading the webpage using requsts library
response = requests.get(url, headers= headers)
print(response)

html_code14=response.text

print(html_code14[:2000])

Title13 = []


soup13 = BeautifulSoup(html_code14, "html.parser")

Name8 = soup13.find_all('div', attrs={'class':'gsc_col-sm-12 gsc_col-xs-12 gsc_col-md-8 listView holder posS'})
for h8 in Name8:
    Title13.append(h8.text.strip())

<Response [200]>
<!DOCTYPE html><html lang="en" translate="no"><head><meta charset="utf-8"><meta name="google" content="notranslate"><title>Volvo Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches</title><meta name="description" content="Volvo Cars Price in India - Volvo has currently 5 car models on sale, check prices of all Volvo car models with reviews, specs, images, videos, launches, history & showrooms near you at CarDekho."> <link href="https://staticcont.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://stimg.cardekho.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://connect.facebook.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://securepubads.g.doubleclick.net" rel="preconnect dns-prefetch" crossorigin="anonymous"><link href="https://api.connecto.io" rel="preconnect dns-prefetch" crossorigin="anonymous">  <link rel="preload" href="https://stimg.cardekho.com/images/carexteriorimages/630x420/Volvo/XC90/11977/1741167021745/front-left-side-47.jpg?impolicy=resize&imwidth=480" as="image" fetchpriority="high">  <link rel="manifest" href="/manifest.json">  <meta name="ROBOTS" content="INDEX,FOLLOW,max-snippet:-1, max-image-preview:large">   <link rel="canonical" href="https://www.cardekho.com/cars/Volvo">      <link rel="amphtml" href="https://www.cardekho.com/cars/Volvo?amp=1">       <meta property="og:title" content="Volvo Cars Price in India - Models 2025, Reviews, Specs, Dealers & Launches"><meta property="og:type" content="website"><meta property="og:site_name" content="CarDekho"><meta property="og:image" content="https://stimg.cardekho.com/images/car-images/medium/Volvo/EX30/11539/1755870336408/front-left-side-47.jpg"><meta property="og:url" content="https://www.cardekho.com/cars/Volvo"><meta property="og:description" content="Volvo Cars Price in India - Volvo ha

In [100]:
Title13

['Volvo XC90Rs.96.97 Lakh* (View On Road Price)12.35 kmpl1969 cc247 bhp7 SeatsView November Offers',
 'Volvo EX30Rs.39.99 Lakh* (View On Road Price)480 km69 kWh272 bhp5 Star SafetyView November Offers',
 'Volvo XC60Rs.67.11 Lakh* (View On Road Price)1969 cc250 bhp- SeatsView November Offers',
 'Volvo EC40Rs.59 Lakh* (View On Road Price)530 km78 kWh402.3 bhp5 SeatsView November Offers',
 'Volvo EX40Rs.49 Lakh* (View On Road Price)592 km69 kWh237.99 bhp5 SeatsView November Offers']

In [101]:
raw_data13 = [
'Volvo XC90Rs.96.97 Lakh* (View On Road Price)12.35 kmpl1969 cc247 bhp7 SeatsView November Offers',
 'Volvo EX30Rs.39.99 Lakh* (View On Road Price)480 km69 kWh272 bhp5 Star SafetyView November Offers',
 'Volvo XC60Rs.67.11 Lakh* (View On Road Price)1969 cc250 bhp- SeatsView November Offers',
 'Volvo EC40Rs.59 Lakh* (View On Road Price)530 km78 kWh402.3 bhp5 SeatsView November Offers',
 'Volvo EX40Rs.49 Lakh* (View On Road Price)592 km69 kWh237.99 bhp5 SeatsView November Offers'
]

data13 = []

for item in raw_data13:
    brand = "Volvo "
    model = re.findall(r'Volvo \s([\w\s\-]+?)Rs', item)
    model = model[0].strip() if model else ""
    price = re.findall(r'Rs\.([\d\.\s\-A-Za-z]+)\*', item)
    price = price[0].strip() if price else ""
    fuel = re.findall(r'(Petrol|Diesel|CNG|Electric)', item)
    fuel = "/".join(set(fuel)) if fuel else ""
    mileage = re.findall(r'(\d+\.?\d*)\s?kmpl', item)
    mileage = mileage[0] if mileage else ""
    transmission = re.findall(r'(Automatic|Manual)', item)
    transmission = "/".join(set(transmission)) if transmission else ""
    engine = re.findall(r'(\d+)\s?cc', item)
    engine = engine[0] if engine else ""
    seats = re.findall(r'(\d+)\sSeats', item)
    seats = seats[0] if seats else ""

    data13.append([brand, model, price, fuel, mileage, transmission, engine, seats])

df13 = pd.DataFrame(data13, columns=[
    "brand", "model", "price_ex_showroom", "fuel_type",
    "mileage_kmpl", "transmission", "engine_cc", "seating_capacity"
])

df13['country_origin'] = 'American'

df13

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,Volvo,,96.97 Lakh,,12.35,,1969,7,American
1,Volvo,,39.99 Lakh,,,,,,American
2,Volvo,,67.11 Lakh,,,,1969,,American
3,Volvo,,59 Lakh,,,,,5,American
4,Volvo,,49 Lakh,,,,,5,American

In [107]:
# Combine all car DataFrames into one
df_cars = pd.concat([df, df0, df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13], ignore_index=True)
df_cars

,brand,model,price_ex_showroom,fuel_type,mileage_kmpl,transmission,engine_cc,seating_capacity,country_origin
0,BMW,M5,2.01 Cr,Petrol,49.75,Automatic,4395,5,Germany
1,BMW,X5,93.70 Lakh - 1.05 Cr,Diesel/Petrol,12,Automatic,2998,,Germany
2,BMW,X7,1.25 - 1.29 Cr,Diesel/Petrol,14.31,Automatic,2998,,Germany
3,BMW,X1,50.60 - 52.20 Lakh,Diesel/Petrol,20.37,Automatic,1995,,Germany
4,BMW,5 Series,72.35 Lakh,Petrol,10.9,Automatic,1998,5,Germany
...,...,...,...,...,...,...,...,...,...
169,Volvo,,96.97 Lakh,,12.35,,1969,7,American
170,Volvo,,39.99 Lakh,,,,,,American
171,Volvo,,67.11 Lakh,,,,1969,,American
172,Volvo,,59 Lakh,,,,,5,American
173,Volvo,,49 Lakh,,,,,5,American

In [111]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              174 non-null    object
 1   model              174 non-null    object
 2   price_ex_showroom  174 non-null    object
 3   fuel_type          174 non-null    object
 4   mileage_kmpl       174 non-null    object
 5   transmission       174 non-null    object
 6   engine_cc          174 non-null    object
 7   seating_capacity   174 non-null    object
 8   country_origin     174 non-null    object
dtypes: object(9)
memory usage: 12.4+ KB

In [119]:
print(df_cars.isnull().sum())

brand                0
model                0
price_ex_showroom    0
fuel_type            0
mileage_kmpl         0
transmission         0
engine_cc            0
seating_capacity     0
country_origin       0
dtype: int64

In [120]:
# Count empty strings
print((df_cars == '').sum())

# Count common placeholders like '-' or 'N/A'
print((df_cars == '-').sum())
print((df_cars == 'N/A').sum())

brand                 0
model                25
price_ex_showroom     0
fuel_type            35
mileage_kmpl         43
transmission         51
engine_cc            36
seating_capacity     68
country_origin        0
dtype: int64
brand                0
model                0
price_ex_showroom    0
fuel_type            0
mileage_kmpl         0
transmission         0
engine_cc            0
seating_capacity     0
country_origin       0
dtype: int64
brand                0
model                0
price_ex_showroom    0
fuel_type            0
mileage_kmpl         0
transmission         0
engine_cc            0
seating_capacity     0
country_origin       0
dtype: int64

In [121]:
import numpy as np

df_cars.replace(['', '-', 'N/A'], np.nan, inplace=True)

In [122]:
print(df_cars.isnull().sum())

brand                 0
model                25
price_ex_showroom     0
fuel_type            35
mileage_kmpl         43
transmission         51
engine_cc            36
seating_capacity     68
country_origin        0
dtype: int64

In [130]:
df_cars["model"][0::]

0            M5
1            X5
2            X7
3            X1
4      5 Series
         ...
169         NaN
170         NaN
171         NaN
172         NaN
173         NaN
Name: model, Length: 174, dtype: object

In [131]:
# Save df_cars as Excel
df_cars.to_excel('cars_data.xlsx', index=False)  # index=False avoids saving row numbers

In [188]:
df_cars = pd.read_excel("cars_updated.xlsx")
df_cars

,brand,model,price_ex_showroom,fuel_type,mileage/ range,transmission,engine_cc/bhp,seating_capacity,country_origin
0,BMW,M5,2.01 Cr,Petrol,49.75,Automatic,4395.00,5.0,Germany
1,BMW,X5,93.70 Lakh - 1.05 Cr,Diesel,12,Automatic,2998.00,5.0,Germany
2,BMW,X5,93.70 Lakh - 1.15 Cr,Petrol,10.44,Automatic,2998.00,5.0,Germany
3,BMW,X7,1.25 - 1.29 Cr,Diesel,14.31,Automatic,2998.00,7.0,Germany
4,BMW,X7,1.25 - 1.45Cr,Petrol,12.31,Automatic,2998.00,7.0,Germany
...,...,...,...,...,...,...,...,...,...
232,Volvo,XC60,67.11 Lakh,Petrol,12.2,Automatic,1969.00,5.0,American
233,Volvo,EC40,59 Lakh,Electric,530,Automatic,402.30,5.0,American
234,Volvo,EX40,49 Lakh,Electric,592,Automatic,237.99,5.0,American
235,Tata,Altroz,6.30 - 10.51 Lakh,Petrol,19.33,Manual/Automatic,1497.00,5.0,India
236,Tata,Altroz,6.30 - 10.51 Lakh,CNG,27.8,Manual/Automatic,1497.00,5.0,India

In [201]:
# Define the custom order
fuel_order = ['Petrol', 'Diesel', 'CNG', 'Electric']

# Sort the dataframe based on fuel_type order
df_cars['fuel_type'] = pd.Categorical(df_cars['fuel_type'], categories=fuel_order, ordered=True)
df_cars = df_cars.sort_values('fuel_type').reset_index(drop=True)

# Show result
df_cars

,brand,model,price_ex_showroom,fuel_type,mileage/ range,transmission,engine_cc/bhp,seating_capacity,country_origin,Price_in_Lakh
0,BMW,M5,2.01 Cr,Petrol,49.75,Automatic,4395.00,5.0,Germany,201.000
1,BMW,X3,71.20 - 74.10 Lakh,Petrol,14.86,Automatic,1998.00,5.0,Germany,72.650
2,BMW,Z4,87.90 - 92.60 Lakh,Petrol,8.5,Manual/Automatic,2998.00,2.0,Germany,90.250
3,BMW,3 Series,72.85 - 73.95 Lakh,Petrol,13.02,Automatic,2998.00,5.0,Germany,73.400
4,BMW,XM,2.55 Cr,Petrol,61.9,Automatic,4395.00,5.0,Germany,255.000
5,BMW,M8 Coupe Competition,2.38 Cr,Petrol,8.7,Automatic,4395.00,5.0,Germany,238.000
6,BMW,M4 Competition,1.52 Cr,Petrol,9.7,Automatic,2993.00,4.0,Germany,152.000
7,BMW,7 Series,1.79 - 1.92 Cr,Petrol,7,Automatic,2998.00,5.0,Germany,185.500
8,BMW,2 Series Gran Coupe,45.30 - 47.20 Lakh,Petrol,16.35,Automatic,1499.00,5.0,Germany,46.250
9,Mercedes-Benz,Maybach GLS,3.17 - 3.71 Cr,Petrol,10,Automatic,3982.00,5.0,Germany,344.000
10,Volvo,XC90,96.97 Lakh,Petrol,12.35,Automatic,1969.00,7.0,Sweden,96.970
11,BMW,M4 CS,1.79 Cr,Petrol,9.7,Automatic,2993.00,4.0,Germany,179.000
12,Audi,S5 Sportback,73.57 - 80.50 Lakh,Petrol,10.6,Automatic,2994.00,5.0,Germany,77.035
13,BMW,3 Series Long Wheelbase,60.50 - 62.15 Lakh,Petrol,19.61,Automatic,1998.00,5.0,Germany,61.325
14,Audi,RS Q8,2.32 Cr,Petrol,9,Automatic,3998.00,5.0,Germany,232.000
15,Mercedes-Benz,AMG S 63,3.27 - 3.80 Cr,Petrol,19.4,Automatic,3982.00,5.0,Germany,353.500
16,Mercedes-Benz,GLS,1.32 - 1.52 Cr,Petrol,10.5,Automatic,2999.00,7.0,Germany,142.000
17,Mercedes-Benz,C-Class,58.65 - 64.42 Lakh,Petrol,22,Automatic,1999.00,5.0,Germany,61.535
18,Mercedes-Benz,S-Class,1.78 - 1.96 Cr,Petrol,17,Automatic,2999.00,5.0,Germany,187.000
19,Mercedes-Benz,GLC,74.6 Lakh,Petrol,18.3,Automatic,1999.00,5.0,Germany,74.600
20,Mercedes-Benz,GLE,96.15 Lakh - 1.18 Cr,Petrol,15,Automatic,2999.00,5.0,Germany,4866.500
21,Mercedes-Benz,E-Class,78.50 - 91.72 Lakh,Petrol,14.3,Automatic,2999.00,5.0,Germany,85.110
22,Mercedes-Benz,AMG GT Coupe,2.88 - 3.45 Cr,Petrol,11,Automatic,3982.00,2.0,Germany,316.500
23,Maruti Suzuki,Wagon R,4.99 - 6.95 Lakh,Petrol,25.19,Manual/Automatic,1197.00,5.0,India,5.970
24,Maruti Suzuki,Swift,5.79 - 8.80 Lakh,Petrol,25.75,Manual/Automatic,1197.00,5.0,India,7.295
25,Toyota,Camry,47.48 Lakh,Petrol,25.49,Automatic,2487.00,5.0,Japan,47.480
26,Hyundai,Creta,11.73 - 22.20 Lakh,Petrol,23.4,Manual/Automatic,1497.00,5.0,South Korea,16.965
27,Hyundai,Venue,7.36 - 12.78 Lakh,Petrol,26.2,Manual/Automatic,1493.00,5.0,South Korea,10.070
28,BMW,M2,1 Cr,Petrol,10.19,Automatic,2993.00,4.0,Germany,100.000
29,BMW,5 Series,72.35 Lakh,Petrol,10.9,Automatic,1998.00,5.0,Germany,72.350
30,BMW,X1,50.60 - 51 Lakh,Petrol,18.37,Automatic,1995.00,5.0,Germany,50.800
31,BMW,X7,1.25 - 1.45Cr,Petrol,12.31,Automatic,2998.00,7.0,Germany,135.000
32,Toyota,Corolla Altis,11.95 - 16.07 Lakh,Petrol,18.4,Manual/Automatic,1498.00,5.0,Japan,14.010
33,Toyota,Urban Cruiser,7.41 - 10 Lakh,Petrol,19.46,Manual/Automatic,1199.00,5.0,Japan,8.705
34,Audi,Q3,43.07 - 52.98 Lakh,Petrol,10.14,Automatic,1984.00,5.0,Germany,48.025
35,Mercedes-Benz,AMG C43,94.05 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,94.050
36,Mercedes-Benz,GLA,49.70 - 53.20 Lakh,Petrol,17.6,Automatic,1950.00,5.0,Germany,51.450
37,Toyota,Yaris,11 - 16.15 Lakh,Petrol,16.92,Manual/Automatic,1498.00,5.0,Japan,13.575
38,Audi,Q5,64.74 - 69.86 Lakh,Petrol,13.47,Automatic,1984.00,5.0,Germany,67.300
39,Mercedes-Benz,AMG GT 4 Door Coupe,3.27 Cr,Petrol,7,Automatic,3982.00,5.0,Germany,327.000
40,Audi,A6,63.74 - 69.89 Lakh,Petrol,14.11,Automatic,1984.00,5.0,Germany,66.815
41,Mercedes-Benz,AMG CLE 53,1.28 Cr,Petrol,10,Automatic,2999.00,4.0,Germany,128.000
42,Mercedes-Benz,AMG SL,2.34 Cr,Petrol,7.3,Automatic,3982.00,4.0,Germany,234.000
43,Mercedes-Benz,AMG C 63,1.91 Cr,Petrol,12.9,Automatic,1991.00,5.0,Germany,191.000
44,Mercedes-Benz,AMG GLC 43,99.35 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,99.350
45,Toyota,Innova Hycross,18.16 - 30.83 Lakh,Petrol,23.24,Automatic,1987.00,8.0,Japan,24.495
46,Mercedes-Benz,CLE Cabriolet,1.11 Cr,Petrol,12,Automatic,1999.00,4.0,Germany,111.000
47,Mercedes-Benz,AMG GLA 35,58.50 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,58.500
48,Nissan,X-Trail,48.20 Lakh,Petrol,10,Automatic,1498.00,7.0,Japan,48.200
49,Mercedes-Benz,Maybach SL 680,4.12 Cr,Petrol,7.8,Automatic,3982.00,2.0,Germany,412.000
50,Mercedes-Benz,AMG E 53 Cabriolet,1.30 Cr,Petrol,9,Automatic,2998.00,4.0,Germany,130.000
51,Mercedes-Benz,Maybach S-Class,2.74 - 3.47 Cr,Petrol,23,Automatic,5980.00,5.0,Germany,310.500
52,Mercedes-Benz,AMG GLE 53,1.88 Cr,Petrol,8.9,Automatic,2999.00,5.0,Germany,188.000
53,Mercedes-Benz,A-Class Limousine,44.45 - 46.22 Lakh,Petrol,14.3,Automatic,1950.00,5.0,Germany,45.335
54,Mercedes-Benz,G-Class,2.55 - 4.36 Cr,Petrol,8.3,Automatic,3982.00,5.0,Germany,345.500
55,Mercedes-Benz,AMG A 45 S,94.80 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,94.800
56,Audi,Q3 Sportback,52.98 - 53.55 Lakh,Petrol,10.14,Automatic,1984.00,5.0,Germany,53.265
57,Audi,Q8,1.10 Cr,Petrol,10,Automatic,2995.00,5.0,Germany,110.000
58,Volvo,XC60,67.11 Lakh,Petrol,12.2,Automatic,1969.00,5.0,Sweden,67.110
59,BMW,X5,93.70 Lakh - 1.15 Cr,Petrol,10.44,Automatic,2998.00,5.0,Germany,4742.500
60,Audi,Q7,86.14 - 95.03 Lakh,Petrol,11,Automatic,2995.00,7.0,Germany,90.585
61,Tata,Tiago NRG,6.68 - 8.10 Lakh,Petrol,20.09,Manual/Automatic,1199.00,5.0,India,7.390
62,Audi,A4,46.25 - 55.11 Lakh,Petrol,15,Automatic,1984.00,5.0,Germany,50.680
63,Tata,Tigor,5.49 - 8.74 Lakh,Petrol,19.6,Manual/Automatic,1199.00,5.0,India,7.115
64,Renault,KWID,4.30 - 5.90 Lakh,Petrol,22.3,Manual/Automatic,999.00,5.0,France,5.100
65,Maruti Suzuki,Baleno,5.99 - 9.10 Lakh,Petrol,22.94,Manual/Automatic,1197.00,5.0,India,7.545
66,Renault,Triber,5.76 - 8.60 Lakh,Petrol,20,Manual/Automatic,999.00,7.0,France,7.180
67,Maruti Suzuki,Dzire,6.26 - 9.31 Lakh,Petrol,25.71,Manual/Automatic,1197.00,5.0,India,7.785
68,Jeep,Grand Cherokee,63 Lakh,Petrol,7.2,Automatic,1995.00,5.0,USA,63.000
69,Maruti Suzuki,Brezza,8.26 - 13.01 Lakh,Petrol,19.89,Manual/Automatic,1462.00,5.0,India,10.635
70,Maruti Suzuki,Grand Vitara,10.77 - 19.72 Lakh,Petrol,27.97,Manual/Automatic,1490.00,5.0,India,15.245
71,Jeep,Wrangler,64.08 - 67.81 Lakh,Petrol,11.4,Automatic,1995.00,5.0,USA,65.945
72,Kia,Carens Clavis,11.08 - 20.71 Lakh,Petrol,19.54,Manual/Automatic,1497.00,7.0,South Korea,15.895
73,Maruti Suzuki,Victoris,10.50 - 19.99 Lakh,Petrol,28.65,Manual/Automatic,1490.00,5.0,India,15.245
74,Skoda,Octavia RS,49.99 Lakh,Petrol,14.72,Automatic,1984.00,5.0,Czech Republic,49.990
75,Skoda,Kodiaq,39.99 - 45.96 Lakh,Petrol,14.86,Automatic,1984.00,7.0,Czech Republic,42.975
76,Maruti Suzuki,Alto Tour H1,4 - 4.82 Lakh,Petrol,24.39,Manual,998.00,5.0,India,4.410
77,Maruti Suzuki,Ertiga,8.80 - 12.94 Lakh,Petrol,20.51,Manual/Automatic,1462.00,7.0,India,10.870
78,Maruti Suzuki,S-Presso,3.50 - 5.25 Lakh,Petrol,25.3,Manual/Automatic,998.00,5.0,India,4.375
79,Maruti Suzuki,Celerio,4.70 - 6.73 Lakh,Petrol,26.68,Manual/Automatic,998.00,5.0,India,5.715
80,Skoda,Slavia,10 - 17.70 Lakh,Petrol,20.32,Manual/Automatic,1498.00,5.0,Czech Republic,13.850
81,Maruti Suzuki,XL6,11.52 - 14.48 Lakh,Petrol,20.97,Manual/Automatic,1462.00,7.0,India,13.000
82,Skoda,Kylaq,7.55 - 12.80 Lakh,Petrol,19.68,Manual/Automatic,999.00,5.0,Czech Republic,10.175
83,Maruti Suzuki,Jimny,12.31 - 14.45 Lakh,Petrol,16.94,Manual/Automatic,1462.00,4.0,India,13.380
84,Maruti Suzuki,Ignis,5.35 - 7.55 Lakh,Petrol,20.89,Manual/Automatic,1197.00,5.0,India,6.450
85,Maruti Suzuki,Eeco,5.21 - 6.36 Lakh,Petrol,19.71,Manual,1197.00,7.0,India,5.785
86,MG,Hector Plus,16.75 - 24.15 Lakh,Petrol,17.68,Manual/Automatic,1956.00,5.0,China,20.450
87,Maruti Suzuki,Ciaz,9.09 - 11.89 Lakh,Petrol,20.65,Manual/Automatic,1462.00,5.0,India,10.490
88,Maruti Suzuki,Invicto,24.97 - 28.61 Lakh,Petrol,23.24,Automatic,1987.00,8.0,India,26.790
89,Toyota,Glanza,6.39 - 9.15 Lakh,Petrol,22.94,Manual/Automatic,1197.00,5.0,Japan,7.770
90,Maruti Suzuki,Dzire Tour S,6.24 - 7.10 Lakh,Petrol,26.06,Manual,1197.00,5.0,India,6.670
91,Maruti Suzuki,Ertiga Tour,9.68 - 10.59 Lakh,Petrol,18.04,Manual,1462.00,5.0,India,10.135
92,Skoda,Kushaq,10.61 - 18.43 Lakh,Petrol,19.76,Manual/Automatic,1498.00,5.0,Czech Republic,14.520
93,Renault,Kiger,5.76 - 10.34 Lakh,Petrol,20.38,Manual/Automatic,999.00,5.0,France,8.050
94,Toyota,Etios Liva,6.98 - 7.80 Lakh,Petrol,18.6,Manual/Automatic,1199.00,5.0,Japan,7.390
95,Maruti Suzuki,Alto K10,3.70 - 5.45 Lakh,Petrol,24.9,Manual/Automatic,998.00,5.0,India,4.575
96,Toyota,Rumion,10.44 - 13.62 Lakh,Petrol,20.51,Manual/Automatic,1462.00,7.0,Japan,12.030
97,Maruti Suzuki,FRONX,6.85 - 11.98 Lakh,Petrol,22.89,Manual/Automatic,1197.00,5.0,India,9.415
98,Nissan,Magnite,5.62 - 10.76 Lakh,Petrol,19.9,Manual/Automatic,999.00,5.0,Japan,8.190
99,Tata,Curvv,9.87 - 18.98 Lakh,Petrol,14,Manual/Automatic,1497.00,5.0,India,14.425
100,Tata,Tiago,4.57 - 7.82 Lakh,Petrol,19.01,Manual/Automatic,1199.00,5.0,India,6.195
101,Tata,Altroz,6.30 - 10.51 Lakh,Petrol,19.33,Manual/Automatic,1497.00,5.0,India,8.405
102,Tata,Nexon,7.32 - 14.05 Lakh,Petrol,24.08,Manual/Automatic,1497.00,5.0,India,10.685
103,Maruti Suzuki,Wagon R tour,4.99 - 5.89 Lakh,Petrol,25.4,Manual,998.00,5.0,India,5.440
104,Hyundai,i20,6.87 - 10.43 Lakh,Petrol,20,Manual/Automatic,1197.00,5.0,South Korea,8.650
105,Hyundai,Verna,10.69 - 16.98 Lakh,Petrol,20.6,Manual/Automatic,1497.00,5.0,South Korea,13.835
106,Hyundai,Aura,5.98 - 8.42 Lakh,Petrol,17,Manual/Automatic,1197.00,5.0,South Korea,7.200
107,Toyota,Vellfire,1.20 - 1.30 Cr,Petrol,16,Automatic,2487.00,7.0,Japan,125.000
108,Hyundai,Exter,5.68 - 9.61 Lakh,Petrol,19.4,Manual/Automatic,1197.00,5.0,South Korea,7.645
109,Hyundai,Alcazar,14.57 - 22.10 Lakh,Petrol,22.4,Manual/Automatic,1493.00,7.0,South Korea,18.335
110,Tata,Punch,5.50 - 9.30 Lakh,Petrol,20.09,Manual/Automatic,1199.00,5.0,India,7.400
111,Toyota,Hyryder,10.95 - 19.76 Lakh,Petrol,27.97,Manual/Automatic,1490.00,5.0,Japan,15.355
112,MG,Astor,9.65 - 16.24 Lakh,Petrol,15.43,Manual/Automatic,1498.00,5.0,China,12.945
113,Hyundai,Tucson,29.32 - 35.64 Lakh,Petrol,19.5,Automatic,1999.00,5.0,South Korea,32.480
114,Maruti Suzuki,Eeco Cargo,5.39 - 6.61 Lakh,Petrol,20.2,Manual,1197.00,2.0,India,6.000
115,MG,Hector,14.33 - 20.96 Lakh,Petrol,17.51,Manual/Automatic,1956.00,5.0,China,17.645
116,Kia,Seltos,10.88 - 20.81 Lakh,Petrol,22.7,Manual/Automatic,1497.00,5.0,South Korea,15.845
117,Kia,Carens,11.99 - 13.77 Lakh,Petrol,14.9,Manual,1497.00,7.0,South Korea,12.880
118,Kia,Syros,8.97 - 16.84 Lakh,Petrol,22.65,Manual/Automatic,1493.00,5.0,South Korea,12.905
119,Kia,Sonet,7.66- 15 Lakh,Petrol,26.1,Manual/Automatic,1493.00,5.0,South Korea,11.330
120,Toyota,Fortuner,33.85 - 49.88 Lakh,Petrol,13.3,Manual/Automatic,2755.00,7.0,Japan,41.865
121,Hyundai,i20 N-Line,9.14 - 11.60 Lakh,Petrol,20,Manual/Automatic,998.00,5.0,South Korea,10.370
122,Hyundai,Grand i10 Nios,5.47 - 7.92 Lakh,Petrol,18,Manual/Automatic,1197.00,5.0,South Korea,6.695
123,Hyundai,Venue N Line,11.11 - 12.81 Lakh,Petrol,18,Manual/Automatic,998.00,5.0,South Korea,11.960
124,Hyundai,Creta N Line,17.83 - 20.09 Lakh,Petrol,18.2,Manual/Automatic,1482.00,5.0,South Korea,18.960
125,Mercedes-Benz,G-Class,2.55 - 4.30 Cr,Diesel,8.47,Automatic,3982.00,5.0,Germany,342.500
126,MG,Hector,14 - 20.76 Lakh,Diesel,15.58,Manual/Automatic,1956.00,5.0,China,17.380
127,Tata,Nexon,7.30 - 13.75 Lakh,Diesel,26.08,Manual/Automatic,1497.00,5.0,India,10.525
128,Mercedes-Benz,C-Class,58.65 - 64.30 Lakh,Diesel,23,Automatic,1999.00,5.0,Germany,61.475
129,Hyundai,Creta,10.73 - 20.20 Lakh,Diesel,21.8,Manual/Automatic,1497.00,5.0,South Korea,15.465
130,Mercedes-Benz,S-Class,1.78 - 1.88 Cr,Diesel,18,Automatic,2999.00,5.0,Germany,183.000
131,Tata,Altroz,6.30 - 10.51 Lakh,Diesel,23.64,Manual/Automatic,1497.00,5.0,India,8.405
132,Tata,Yodha Pickup,6.95 - 7.50 Lakh,Diesel,13,Manual,2956.00,4.0,India,7.225
133,Tata,Curvv,9.66 - 18.85 Lakh,Diesel,12,Manual/Automatic,1497.00,5.0,India,14.255
134,Toyota,Fortuner Legender,41.54 - 46.75 Lakh,Diesel,10.52,Manual/Automatic,2755.00,7.0,Japan,44.145
135,Toyota,Hilux,28.02 - 35.37 Lakh,Diesel,10,Manual/Automatic,2755.00,5.0,Japan,31.695
136,BMW,3 Series Long Wheelbase,60.50 - 61.80 Lakh,Diesel,19.61,Automatic,1998.00,5.0,Germany,61.150
137,Jeep,Compass,17.73 - 30.50 Lakh,Diesel,17.1,Manual/Automatic,1956.00,5.0,USA,24.115
138,Tata,Harrier,14 - 25.25 Lakh,Diesel,16.8,Manual/Automatic,1956.00,5.0,India,19.625
139,Kia,Carens Clavis,10.06 - 19.44 Lakh,Diesel,18.04,Manual/Automatic,1497.00,7.0,South Korea,14.750
140,Mercedes-Benz,GLC,73.95 Lakh,Diesel,19.4,Automatic,1999.00,5.0,Germany,73.950
141,Tata,Safari,14.66 - 25.96 Lakh,Diesel,16.3,Manual/Automatic,1956.00,7.0,India,20.310
142,Mercedes-Benz,GLE,96.15 Lakh - 1.12 Cr,Diesel,16,Automatic,2999.00,5.0,Germany,4863.500
143,Mercedes-Benz,GLS,1.32 - 1.42 Cr,Diesel,12,Automatic,2999.00,7.0,Germany,137.000
144,MG,Hector Plus,16.05 - 22.75 Lakh,Diesel,15.58,Manual/Automatic,1956.00,5.0,China,19.400
145,MG,Gloster,38.33 - 43.16 Lakh,Diesel,10,Automatic,1996.00,7.0,China,40.745
146,BMW,7 Series,1.79 - 1.82 Cr,Diesel,8,Automatic,2998.00,5.0,Germany,180.500
147,Jeep,Meridian,23.33 - 36.21 Lakh,Diesel,14.1,Manual/Automatic,1956.00,5.0,USA,29.770
148,Hyundai,Alcazar,14.47 - 21.10 Lakh,Diesel,20.4,Manual/Automatic,1493.00,7.0,South Korea,17.785
149,Mercedes-Benz,GLA,49.70 - 52.70 Lakh,Diesel,18.9,Automatic,1950.00,5.0,Germany,51.200
150,BMW,X3,71.20 - 73.10 Lakh,Diesel,17.86,Automatic,1998.00,5.0,Germany,72.150
151,BMW,X1,50.60 - 52.20 Lakh,Diesel,20.37,Automatic,1995.00,5.0,Germany,51.400
152,Kia,Sonet,7.30 - 14 Lakh,Diesel,24.1,Manual/Automatic,1493.00,5.0,South Korea,10.650
153,Kia,Carens,10.99 - 12.77 Lakh,Diesel,12.6,Manual,1497.00,7.0,South Korea,11.880
154,BMW,X7,1.25 - 1.29 Cr,Diesel,14.31,Automatic,2998.00,7.0,Germany,127.000
155,Hyundai,Tucson,27.32 - 33.64 Lakh,Diesel,18,Automatic,1999.00,5.0,South Korea,30.480
156,Kia,Seltos,10.79 - 19.81 Lakh,Diesel,20.7,Manual/Automatic,1497.00,5.0,South Korea,15.300
157,Kia,Carnival,59.42 Lakh,Diesel,14.85,Automatic,2151.00,7.0,South Korea,59.420
158,Kia,Syros,8.67 - 15.94 Lakh,Diesel,20.75,Manual/Automatic,1493.00,5.0,South Korea,12.305
159,BMW,X5,93.70 Lakh - 1.05 Cr,Diesel,12,Automatic,2998.00,5.0,Germany,4737.500
160,Mercedes-Benz,A-Class Limousine,44.45 - 45.95 Lakh,Diesel,15.5,Automatic,1950.00,5.0,Germany,45.200
161,Toyota,Innova Crysta,18.66 - 25.27 Lakh,Diesel,9,Manual,2393.00,7.0,Japan,21.965
162,Toyota,Land Cruiser 300,2.16 - 2.25 Cr,Diesel,11,Automatic,3346.00,7.0,Japan,220.500
163,Hyundai,Venue,7.26 - 12.46 Lakh,Diesel,24.2,Manual/Automatic,1493.00,5.0,South Korea,9.860
164,Toyota,Fortuner,33.65 - 48.85 Lakh,Diesel,11,Manual/Automatic,2755.00,7.0,Japan,41.250
165,Mercedes-Benz,E-Class,78.50 - 91.65 Lakh,Diesel,15,Automatic,2999.00,5.0,Germany,85.075
166,Maruti Suzuki,FRONX,6.66 - 11.98 Lakh,CNG,23.77,Manual/Automatic,1197.00,5.0,India,9.320
167,Maruti Suzuki,Swift,5.79 - 7.50 Lakh,CNG,27.75,Manual/Automatic,1197.00,5.0,India,6.645
168,Maruti Suzuki,Wagon R,4.75 - 6.05 Lakh,CNG,27.19,Manual/Automatic,1197.00,5.0,India,5.400
169,Maruti Suzuki,Wagon R tour,4.69 - 5.78 Lakh,CNG,27.4,Manual,998.00,5.0,India,5.235
170,Tata,Altroz,6.30 - 10.51 Lakh,CNG,27.8,Manual/Automatic,1497.00,5.0,India,8.405
171,Tata,Nexon,7.22 - 13.05 Lakh,CNG,27.08,Manual/Automatic,1497.00,5.0,India,10.135
172,Hyundai,Aura,5.66 - 8.12 Lakh,CNG,19,Manual/Automatic,1197.00,5.0,South Korea,6.890
173,Hyundai,Grand i10 Nios,5.41 - 7.82 Lakh,CNG,20.1,Manual/Automatic,1197.00,5.0,South Korea,6.615
174,Hyundai,Exter,5.62 - 9.55 Lakh,CNG,22.1,Manual/Automatic,1197.00,5.0,South Korea,7.585
175,Tata,Tigor,5.33 - 8.44 Lakh,CNG,21.4,Manual/Automatic,1199.00,5.0,India,6.885
176,Tata,Tiago NRG,6.78 - 8.07 Lakh,CNG,22.05,Manual/Automatic,1199.00,5.0,India,7.425
177,Maruti Suzuki,Ertiga,8.33 - 12 Lakh,CNG,23.44,Manual/Automatic,1462.00,7.0,India,10.165
178,Kia,Carens,10.49 - 12.56 Lakh,CNG,14.5,Manual,1497.00,7.0,South Korea,11.525
179,Maruti Suzuki,Baleno,5.43 - 9.10 Lakh,CNG,23.98,Manual/Automatic,1197.00,5.0,India,7.265
180,Tata,Tiago,4.37 - 7.77 Lakh,CNG,22.01,Manual/Automatic,1199.00,5.0,India,6.070
181,Maruti Suzuki,Brezza,8.11 - 13 Lakh,CNG,21.89,Manual/Automatic,1462.00,5.0,India,10.555
182,Nissan,Magnite,5.47 - 10.14 Lakh,CNG,22.8,Manual/Automatic,999.00,5.0,Japan,7.805
183,Toyota,Rumion,10.14 - 13.42 Lakh,CNG,22.45,Manual/Automatic,1462.00,7.0,Japan,11.780
184,Maruti Suzuki,Dzire,6.21 - 9.3 Lakh,CNG,25.71,Manual/Automatic,1197.00,5.0,India,7.755
185,Toyota,Taisor,6.21 - 11.06 Lakh,CNG,22.8,Manual/Automatic,1197.00,5.0,Japan,8.635
186,Toyota,Glanza,6.29 - 9.01 Lakh,CNG,24.9,Manual/Automatic,1197.00,5.0,Japan,7.650
187,Tata,Punch,5.10 - 9.10 Lakh,CNG,23.07,Manual/Automatic,1199.00,5.0,India,7.100
188,Maruti Suzuki,S-Presso,3.21 - 5.10 Lakh,CNG,26.3,Manual/Automatic,998.00,5.0,India,4.155
189,Maruti Suzuki,Alto Tour H1,4 - 4.75 Lakh,CNG,26.45,Manual,998.00,5.0,India,4.375
190,Toyota,Hyryder,10.15 - 19.22 Lakh,CNG,28.97,Manual/Automatic,1490.00,5.0,Japan,14.685
191,Maruti Suzuki,Dzire Tour S,6.14 - 6.78 Lakh,CNG,27.56,Manual,1197.00,5.0,India,6.460
192,Maruti Suzuki,Eeco,5.14 - 6.00 Lakh,CNG,21.05,Manual,1197.00,7.0,India,5.570
193,Maruti Suzuki,XL6,11 - 13.23 Lakh,CNG,20.97,Manual/Automatic,1462.00,7.0,India,12.115
194,Maruti Suzuki,Celerio,4.40 - 6.21 Lakh,CNG,28.68,Manual/Automatic,998.00,5.0,India,5.305
195,Maruti Suzuki,Alto K10,3.50 - 5.22 Lakh,CNG,26.7,Manual/Automatic,998.00,5.0,India,4.360
196,Maruti Suzuki,Grand Vitara,9.77 - 19 Lakh,CNG,29.13,Manual/Automatic,1490.00,5.0,India,14.385
197,Maruti Suzuki,Victoris,9.50 - 18.65 Lakh,CNG,27.07,Manual/Automatic,1490.00,5.0,India,14.075
198,Maruti Suzuki,Ertiga Tour,9.00 - 10.01 Lakh,CNG,20.04,Manual,1462.00,5.0,India,9.505
199,Maruti Suzuki,Eeco Cargo,5.39 - 6.55 Lakh,CNG,22.2,Manual,1197.00,2.0,India,5.970
200,Tata,Harrier EV,21.49 - 30.23 Lakh,Electric,627,Automatic,390.00,5.0,India,25.860
201,MG,ZS EV,17.99 - 20.50 Lakh,Electric,461,Automatic,174.00,5.0,China,19.245
202,Tata,Nexon EV,12.49 - 17.49 Lakh,Electric,489,Automatic,142.00,5.0,India,14.990
203,Tata,Punch EV,9.99 - 14.44 Lakh,Electric,421,Automatic,122.00,5.0,India,12.215
204,Tata,Tiago EV,7.99 - 11.14 Lakh,Electric,315,Automatic,75.00,5.0,India,9.565
205,Kia,EV6,65.97 Lakh,Electric,663,Automatic,325.00,5.0,South Korea,65.970
206,Hyundai,Creta Electric,18.02 - 24.55 Lakh,Electric,473,Automatic,171.00,5.0,South Korea,21.285
207,Tata,Tigor EV,12.49 - 13.75 Lakh,Electric,315,Automatic,73.75,5.0,India,13.120
208,MG,M9,69.90 Lakh,Electric,584,Automatic,241.00,7.0,China,69.900
209,Hyundai,IONIQ 5,46.05 Lakh,Electric,631,Automatic,217.00,5.0,South Korea,46.050
210,MG,Windsor EV,12.65 - 18.39 Lakh,Electric,449,Automatic,136.00,5.0,China,15.520
211,Mercedes-Benz,AMG EQS,2.45 Cr,Electric,586,Automatic,761.00,5.0,Germany,245.000
212,Mercedes-Benz,Maybach EQS SUV,2.28 - 2.63 Cr,Electric,611,Automatic,658.00,4.0,Germany,245.500
213,Kia,EV9,1.30 Cr,Electric,561,Automatic,379.00,6.0,South Korea,130.000
214,Tata,Curvv EV,17.49 - 22.24 Lakh,Electric,585,Automatic,165.00,5.0,India,19.865
215,MG,Comet EV,7.50 - 9.56 Lakh,Electric,230,Automatic,42.40,4.0,China,8.530
216,Kia,Carens Clavis EV,17.99 - 24.49 Lakh,Electric,404,Automatic,170.00,7.0,South Korea,21.240
217,Mercedes-Benz,EQA,67.20 Lakh,Electric,560,Automatic,188.00,5.0,Germany,67.200
218,Mercedes-Benz,EQB,72.20 - 78.90 Lakh,Electric,535,Automatic,292.00,5.0,Germany,75.550
219,Mercedes-Benz,EQS SUV,1.33 - 1.48 Cr,Electric,423,Automatic,288.00,7.0,Germany,140.500
220,Mercedes-Benz,G-Class Electric,3.10 Cr,Electric,473,Automatic,579.00,5.0,Germany,310.000
221,Audi,RS e-tron GT,1.95 Cr,Electric,401-481,Automatic,636.98,5.0,Germany,195.000
222,BMW,i5,1.20 Cr,Electric,516,Automatic,601.00,5.0,Germany,120.000
223,BMW,i4,72.50 - 77.50 Lakh,Electric,590,Automatic,340.00,5.0,Germany,75.000
224,Audi,Q8 e-tron,1.15 - 1.27 Cr,Electric,491-582,AUtomatic,402.30,5.0,Germany,121.000
225,MG,Cyberster,75 Lakh,Electric,580,Automatic,510.00,2.0,China,75.000

In [202]:
toyota_cars = df_cars[df_cars['brand'] == 'Toyota']
toyota_cars

,brand,model,price_ex_showroom,fuel_type,mileage/ range,transmission,engine_cc/bhp,seating_capacity,country_origin,Price_in_Lakh
25,Toyota,Camry,47.48 Lakh,Petrol,25.49,Automatic,2487.0,5.0,Japan,47.480
32,Toyota,Corolla Altis,11.95 - 16.07 Lakh,Petrol,18.4,Manual/Automatic,1498.0,5.0,Japan,14.010
33,Toyota,Urban Cruiser,7.41 - 10 Lakh,Petrol,19.46,Manual/Automatic,1199.0,5.0,Japan,8.705
37,Toyota,Yaris,11 - 16.15 Lakh,Petrol,16.92,Manual/Automatic,1498.0,5.0,Japan,13.575
45,Toyota,Innova Hycross,18.16 - 30.83 Lakh,Petrol,23.24,Automatic,1987.0,8.0,Japan,24.495
89,Toyota,Glanza,6.39 - 9.15 Lakh,Petrol,22.94,Manual/Automatic,1197.0,5.0,Japan,7.770
94,Toyota,Etios Liva,6.98 - 7.80 Lakh,Petrol,18.6,Manual/Automatic,1199.0,5.0,Japan,7.390
96,Toyota,Rumion,10.44 - 13.62 Lakh,Petrol,20.51,Manual/Automatic,1462.0,7.0,Japan,12.030
107,Toyota,Vellfire,1.20 - 1.30 Cr,Petrol,16,Automatic,2487.0,7.0,Japan,125.000
111,Toyota,Hyryder,10.95 - 19.76 Lakh,Petrol,27.97,Manual/Automatic,1490.0,5.0,Japan,15.355
120,Toyota,Fortuner,33.85 - 49.88 Lakh,Petrol,13.3,Manual/Automatic,2755.0,7.0,Japan,41.865
134,Toyota,Fortuner Legender,41.54 - 46.75 Lakh,Diesel,10.52,Manual/Automatic,2755.0,7.0,Japan,44.145
135,Toyota,Hilux,28.02 - 35.37 Lakh,Diesel,10,Manual/Automatic,2755.0,5.0,Japan,31.695
161,Toyota,Innova Crysta,18.66 - 25.27 Lakh,Diesel,9,Manual,2393.0,7.0,Japan,21.965
162,Toyota,Land Cruiser 300,2.16 - 2.25 Cr,Diesel,11,Automatic,3346.0,7.0,Japan,220.500
164,Toyota,Fortuner,33.65 - 48.85 Lakh,Diesel,11,Manual/Automatic,2755.0,7.0,Japan,41.250
183,Toyota,Rumion,10.14 - 13.42 Lakh,CNG,22.45,Manual/Automatic,1462.0,7.0,Japan,11.780
185,Toyota,Taisor,6.21 - 11.06 Lakh,CNG,22.8,Manual/Automatic,1197.0,5.0,Japan,8.635
186,Toyota,Glanza,6.29 - 9.01 Lakh,CNG,24.9,Manual/Automatic,1197.0,5.0,Japan,7.650
190,Toyota,Hyryder,10.15 - 19.22 Lakh,CNG,28.97,Manual/Automatic,1490.0,5.0,Japan,14.685
236,Toyota,Prius Hybrid,19.48 Lakh,NaN,27.13,Automatic,1498.0,5.0,Japan,19.480

In [191]:
import pandas as pd

# Assuming your dataframe is df_cars

# Create a dictionary mapping the missing row indexes to correct model names
fill_models = {
    232: "Urban Cruiser ",
    233: "Corolla Altis",
    234: "Yaris",
    235: "Prius Hybrid",
    236: "Etios Liva"
}

# Fill the NaN model names only where brand is Toyota and index matches
for idx, model_name in fill_models.items():
    if df_cars.loc[idx, 'brand'] == 'Toyota' and pd.isna(df_cars.loc[idx, 'model']):
        df_cars.loc[idx, 'model'] = model_name

#  Verify the changes
print(df_cars.loc[232:236, ['brand', 'model', 'price_ex_showroom']])

      brand           model   price_ex_showroom
232  Toyota  Urban Cruiser       7.41 - 10 Lakh
233  Toyota   Corolla Altis  11.95 - 16.07 Lakh
234  Toyota           Yaris     11 - 16.15 Lakh
235  Toyota    Prius Hybrid          19.48 Lakh
236  Toyota      Etios Liva    6.98 - 7.80 Lakh

In [192]:
df_cars['seating_capacity'] = df_cars['seating_capacity'].fillna(5)

In [193]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              237 non-null    object
 1   model              237 non-null    object
 2   price_ex_showroom  237 non-null    object
 3   fuel_type          232 non-null    category
 4   mileage/ range     237 non-null    object
 5   transmission       237 non-null    object
 6   engine_cc/bhp      237 non-null    float64
 7   seating_capacity   237 non-null    float64
 8   country_origin     237 non-null    object
dtypes: category(1), float64(2), object(6)
memory usage: 15.4+ KB

In [194]:
# Clean brand names (remove spaces and standardize case)
df_cars['brand'] = df_cars['brand'].str.strip().str.title()

# Fix known naming differences
df_cars['brand'] = df_cars['brand'].replace({
    'Mg Motor': 'MG',
    'Mg': 'MG',
    'Bmw': 'BMW',
    'Merc Benz': 'Mercedes-Benz'
})

# Recreate brand  country map
brand_country_map = {
    'Audi': 'Germany',
    'Volvo': 'Sweden',
    'Tata': 'India',
    'Maruti Suzuki': 'India',
    'Nissan': 'Japan',
    'Renault': 'France',
    'Jeep': 'USA',
    'Skoda': 'Czech Republic',
    'MG': 'China',
    'Toyota': 'Japan',
    'Kia': 'South Korea',
    'Hyundai': 'South Korea',
    'Mercedes-Benz': 'Germany',
    'BMW': 'Germany'
}

# Update missing country_origin based on brand
df_cars['country_origin'] = df_cars.apply(
    lambda x: brand_country_map.get(x['brand'], x['country_origin']),
    axis=1
)

#  Verify final result
print(df_cars[['brand', 'country_origin']].drop_duplicates().sort_values('brand'))

            brand  country_origin
77           Audi         Germany
0             BMW         Germany
40        Hyundai     South Korea
20           Jeep             USA
19            Kia     South Korea
5              MG           China
1   Maruti Suzuki           India
69  Mercedes-Benz         Germany
58         Nissan           Japan
25        Renault          France
9           Skoda  Czech Republic
53           Tata           India
39         Toyota           Japan
81          Volvo          Sweden

In [195]:
# Step 1: Add "Hybrid" to the existing categories (if column is categorical)
if df_cars['fuel_type'].dtype.name == 'category':
    df_cars['fuel_type'] = df_cars['fuel_type'].cat.add_categories(['Hybrid'])

# Step 2: Now safely fill the missing values
df_cars.loc[df_cars['model'].str.contains('Urban Cruiser', case=False, na=False), 'fuel_type'] = 'Petrol'
df_cars.loc[df_cars['model'].str.contains('Corolla Altis', case=False, na=False), 'fuel_type'] = 'Petrol'
df_cars.loc[df_cars['model'].str.contains('Yaris', case=False, na=False), 'fuel_type'] = 'Petrol'
df_cars.loc[df_cars['model'].str.contains('Prius Hybrid', case=False, na=False), 'fuel_type'] = 'Hybrid'
df_cars.loc[df_cars['model'].str.contains('Etios Liva', case=False, na=False), 'fuel_type'] = 'Petrol'

In [196]:
df_cars[df_cars.isnull().any(axis=1)]

Empty DataFrame
Columns: [brand, model, price_ex_showroom, fuel_type, mileage/ range, transmission, engine_cc/bhp, seating_capacity, country_origin]
Index: []

,brand,model,price_ex_showroom,fuel_type,mileage/ range,transmission,engine_cc/bhp,seating_capacity,country_origin
0,BMW,M5,2.01 Cr,Petrol,49.75,Automatic,4395.0,5.0,Germany
1,Maruti Suzuki,Ertiga Tour,9.68 - 10.59 Lakh,Petrol,18.04,Manual,1462.0,5.0,India
2,Maruti Suzuki,Dzire Tour S,6.24 - 7.10 Lakh,Petrol,26.06,Manual,1197.0,5.0,India
3,Maruti Suzuki,Invicto,24.97 - 28.61 Lakh,Petrol,23.24,Automatic,1987.0,8.0,India
4,Maruti Suzuki,Ciaz,9.09 - 11.89 Lakh,Petrol,20.65,Manual/Automatic,1462.0,5.0,India
...,...,...,...,...,...,...,...,...,...
232,Toyota,Urban Cruiser,7.41 - 10 Lakh,Petrol,19.46,Manual/Automatic,1199.0,5.0,Japan
233,Toyota,Corolla Altis,11.95 - 16.07 Lakh,Petrol,18.4,Manual/Automatic,1498.0,5.0,Japan
234,Toyota,Yaris,11 - 16.15 Lakh,Petrol,16.92,Manual/Automatic,1498.0,5.0,Japan
235,Toyota,Prius Hybrid,19.48 Lakh,Hybrid,27.13,Automatic,1498.0,5.0,Japan
236,Toyota,Etios Liva,6.98 - 7.80 Lakh,Petrol,18.6,Manual/Automatic,1199.0,5.0,Japan

In [198]:
import pandas as pd
import numpy as np

# Function to convert price to Lakh
def convert_price_to_lakh(price_str):
    if pd.isna(price_str):
        return np.nan
    price_str = price_str.replace(',', '').strip()

    # Handle range like "7.41 - 10 Lakh"
    if '-' in price_str:
        parts = price_str.split('-')
        values = [p.strip() for p in parts]
        # Take average of the range
        try:
            lower = float(values[0].replace('Lakh','').replace('Cr','').strip())
            upper = float(values[1].replace('Lakh','').replace('Cr','').strip())
        except:
            return np.nan
        # Convert to Lakh if in Cr
        if 'Cr' in values[0] or 'Cr' in values[1]:
            lower *= 100
            upper *= 100
        return (lower + upper)/2
    else:
        # Single value
        if 'Cr' in price_str:
            return float(price_str.replace('Cr','').strip())*100
        elif 'Lakh' in price_str:
            return float(price_str.replace('Lakh','').strip())
        else:
            try:
                return float(price_str)
            except:
                return np.nan

# Apply the function to entire column
df_cars['Price_in_Lakh'] = df_cars['price_ex_showroom'].apply(convert_price_to_lakh)

# View all rows
pd.set_option('display.max_rows', None)
print(df_cars[['price_ex_showroom', 'Price_in_Lakh']])

        price_ex_showroom  Price_in_Lakh
0                 2.01 Cr        201.000
1       9.68 - 10.59 Lakh         10.135
2        6.24 - 7.10 Lakh          6.670
3      24.97 - 28.61 Lakh         26.790
4       9.09 - 11.89 Lakh         10.490
5      16.75 - 24.15 Lakh         20.450
6        5.21 - 6.36 Lakh          5.785
7        5.35 - 7.55 Lakh          6.450
8      12.31 - 14.45 Lakh         13.380
9       7.55 - 12.80 Lakh         10.175
10     11.52 - 14.48 Lakh         13.000
11        10 - 17.70 Lakh         13.850
12       4.70 - 6.73 Lakh          5.715
13     10.61 - 18.43 Lakh         14.520
14       3.50 - 5.25 Lakh          4.375
15          4 - 4.82 Lakh          4.410
16     39.99 - 45.96 Lakh         42.975
17             49.99 Lakh         49.990
18     10.50 - 19.99 Lakh         15.245
19     11.08 - 20.71 Lakh         15.895
20     64.08 - 67.81 Lakh         65.945
21     10.77 - 19.72 Lakh         15.245
22      8.26 - 13.01 Lakh         10.635
23                63 Lakh         63.000
24       6.26 - 9.31 Lakh          7.785
25       5.76 - 8.60 Lakh          7.180
26       5.99 - 9.10 Lakh          7.545
27       4.30 - 5.90 Lakh          5.100
28      8.80 - 12.94 Lakh         10.870
29      5.76 - 10.34 Lakh          8.050
30      6.85 - 11.98 Lakh          9.415
31       3.70 - 5.45 Lakh          4.575
32      9.65 - 16.24 Lakh         12.945
33       5.39 - 6.61 Lakh          6.000
34     14.33 - 20.96 Lakh         17.645
35      8.97 - 16.84 Lakh         12.905
36     10.88 - 20.81 Lakh         15.845
37     11.99 - 13.77 Lakh         12.880
38          7.66- 15 Lakh         11.330
39     33.85 - 49.88 Lakh         41.865
40      9.14 - 11.60 Lakh         10.370
41       5.47 - 7.92 Lakh          6.695
42     11.11 - 12.81 Lakh         11.960
43     17.83 - 20.09 Lakh         18.960
44     10.95 - 19.76 Lakh         15.355
45     29.32 - 35.64 Lakh         32.480
46     14.57 - 22.10 Lakh         18.335
47       5.68 - 9.61 Lakh          7.645
48         1.20 - 1.30 Cr        125.000
49       5.98 - 8.42 Lakh          7.200
50     10.69 - 16.98 Lakh         13.835
51      6.87 - 10.43 Lakh          8.650
52       4.99 - 5.89 Lakh          5.440
53      7.32 - 14.05 Lakh         10.685
54       5.50 - 9.30 Lakh          7.400
55      6.30 - 10.51 Lakh          8.405
56       4.57 - 7.82 Lakh          6.195
57     10.44 - 13.62 Lakh         12.030
58      5.62 - 10.76 Lakh          8.190
59      9.87 - 18.98 Lakh         14.425
60       5.49 - 8.74 Lakh          7.115
61       6.39 - 9.15 Lakh          7.770
62       6.68 - 8.10 Lakh          7.390
63     18.16 - 30.83 Lakh         24.495
64      7.36 - 12.78 Lakh         10.070
65     11.73 - 22.20 Lakh         16.965
66             47.48 Lakh         47.480
67       5.79 - 8.80 Lakh          7.295
68       4.99 - 6.95 Lakh          5.970
69         2.88 - 3.45 Cr        316.500
70     78.50 - 91.72 Lakh         85.110
71   96.15 Lakh - 1.18 Cr       4866.500
72              74.6 Lakh         74.600
73         1.78 - 1.96 Cr        187.000
74     58.65 - 64.42 Lakh         61.535
75         1.32 - 1.52 Cr        142.000
76         3.27 - 3.80 Cr        353.500
77                2.32 Cr        232.000
78     60.50 - 62.15 Lakh         61.325
79     73.57 - 80.50 Lakh         77.035
80                1.79 Cr        179.000
81             96.97 Lakh         96.970
82         3.17 - 3.71 Cr        344.000
83     45.30 - 47.20 Lakh         46.250
84         1.79 - 1.92 Cr        185.500
85                1.52 Cr        152.000
86                2.38 Cr        238.000
87                2.55 Cr        255.000
88     72.85 - 73.95 Lakh         73.400
89     87.90 - 92.60 Lakh         90.250
90     71.20 - 74.10 Lakh         72.650
91                   1 Cr        100.000
92             72.35 Lakh         72.350
93        50.60 - 51 Lakh         50.800
94          1.25 - 1.45Cr        135.000
95   93.70 Lakh - 1.15 Cr       4742.500
96             67.11 Lakh         67.110
97                1.10 Cr        110.000
98     52.98 - 53.55 Lakh         53.265
99             94.80 Lakh         94.800
100        2.55 - 4.36 Cr        345.500
101    44.45 - 46.22 Lakh         45.335
102               1.88 Cr        188.000
103        2.74 - 3.47 Cr        310.500
104               1.30 Cr        130.000
105               4.12 Cr        412.000
106            48.20 Lakh         48.200
107            58.50 Lakh         58.500
108    86.14 - 95.03 Lakh         90.585
109               1.11 Cr        111.000
110            99.35 Lakh         99.350
111               1.91 Cr        191.000
112               2.34 Cr        234.000
113               1.28 Cr        128.000
114    63.74 - 69.89 Lakh         66.815
115               3.27 Cr        327.000
116    64.74 - 69.86 Lakh         67.300
117    46.25 - 55.11 Lakh         50.680
118    49.70 - 53.20 Lakh         51.450
119            94.05 Lakh         94.050
120    43.07 - 52.98 Lakh         48.025
121    14.47 - 21.10 Lakh         17.785
122    23.33 - 36.21 Lakh         29.770
123        1.79 - 1.82 Cr        180.500
124    27.32 - 33.64 Lakh         30.480
125    49.70 - 52.70 Lakh         51.200
126    71.20 - 73.10 Lakh         72.150
127    50.60 - 52.20 Lakh         51.400
128        7.30 - 14 Lakh         10.650
129    10.99 - 12.77 Lakh         11.880
130        1.25 - 1.29 Cr        127.000
131    33.65 - 48.85 Lakh         41.250
132    10.79 - 19.81 Lakh         15.300
133            59.42 Lakh         59.420
134     8.67 - 15.94 Lakh         12.305
135  93.70 Lakh - 1.05 Cr       4737.500
136    44.45 - 45.95 Lakh         45.200
137    18.66 - 25.27 Lakh         21.965
138        2.16 - 2.25 Cr        220.500
139     7.26 - 12.46 Lakh          9.860
140    78.50 - 91.65 Lakh         85.075
141    16.05 - 22.75 Lakh         19.400
142    38.33 - 43.16 Lakh         40.745
143  96.15 Lakh - 1.12 Cr       4863.500
144            73.95 Lakh         73.950
145        1.78 - 1.88 Cr        183.000
146       14 - 20.76 Lakh         17.380
147     7.30 - 13.75 Lakh         10.525
148    58.65 - 64.30 Lakh         61.475
149        1.32 - 1.42 Cr        137.000
150    10.73 - 20.20 Lakh         15.465
151        2.55 - 4.30 Cr        342.500
152     6.30 - 10.51 Lakh          8.405
153    14.66 - 25.96 Lakh         20.310
154     9.66 - 18.85 Lakh         14.255
155    41.54 - 46.75 Lakh         44.145
156    28.02 - 35.37 Lakh         31.695
157    60.50 - 61.80 Lakh         61.150
158    17.73 - 30.50 Lakh         24.115
159      6.95 - 7.50 Lakh          7.225
160       14 - 25.25 Lakh         19.625
161    10.06 - 19.44 Lakh         14.750
162     5.47 - 10.14 Lakh          7.805
163    10.14 - 13.42 Lakh         11.780
164     6.21 - 11.06 Lakh          8.635
165    10.15 - 19.22 Lakh         14.685
166      6.29 - 9.01 Lakh          7.650
167      5.10 - 9.10 Lakh          7.100
168      3.21 - 5.10 Lakh          4.155
169         4 - 4.75 Lakh          4.375
170     9.00 - 10.01 Lakh          9.505
171      6.14 - 6.78 Lakh          6.460
172      5.14 - 6.00 Lakh          5.570
173       11 - 13.23 Lakh         12.115
174      4.40 - 6.21 Lakh          5.305
175      3.50 - 5.22 Lakh          4.360
176      5.39 - 6.55 Lakh          5.970
177     9.50 - 18.65 Lakh         14.075
178        9.77 - 19 Lakh         14.385
179        8.11 - 13 Lakh         10.555
180       6.21 - 9.3 Lakh          7.755
181      5.43 - 9.10 Lakh          7.265
182        8.33 - 12 Lakh         10.165
183     6.66 - 11.98 Lakh          9.320
184      5.79 - 7.50 Lakh          6.645
185      4.75 - 6.05 Lakh          5.400
186      4.69 - 5.78 Lakh          5.235
187     6.30 - 10.51 Lakh          8.405
188     7.22 - 13.05 Lakh         10.135
189      4.37 - 7.77 Lakh          6.070
190    10.49 - 12.56 Lakh         11.525
191      5.41 - 7.82 Lakh          6.615
192      5.62 - 9.55 Lakh          7.585
193      5.66 - 8.12 Lakh          6.890
194      5.33 - 8.44 Lakh          6.885
195      6.78 - 8.07 Lakh          7.425
196    72.20 - 78.90 Lakh         75.550
197        1.33 - 1.48 Cr        140.500
198               3.10 Cr        310.000
199               1.95 Cr        195.000
200               1.20 Cr        120.000
201    72.50 - 77.50 Lakh         75.000
202        1.15 - 1.27 Cr        121.000
203               1.72 Cr        172.000
204        1.19 - 1.32 Cr        125.500
205               1.40 Cr        140.000
206        2.05 - 2.58 Cr        231.500
207            39.99 Lakh         39.990
208            49.90 Lakh         49.900
209               59 Lakh         59.000
210               49 Lakh         49.000
211        1.30 - 1.63 Cr        146.500
212               1.41 Cr        141.000
213    17.99 - 24.49 Lakh         21.240
214            67.20 Lakh         67.200
215               75 Lakh         75.000
216      7.50 - 9.56 Lakh          8.530
217            69.90 Lakh         69.900
218    21.49 - 30.23 Lakh         25.860
219    17.99 - 20.50 Lakh         19.245
220    12.49 - 17.49 Lakh         14.990
221     9.99 - 14.44 Lakh         12.215
222     7.99 - 11.14 Lakh          9.565
223            65.97 Lakh         65.970
224    17.49 - 22.24 Lakh         19.865
225    12.49 - 13.75 Lakh         13.120
226    18.02 - 24.55 Lakh         21.285
227            46.05 Lakh         46.050
228    12.65 - 18.39 Lakh         15.520
229               2.45 Cr        245.000
230        2.28 - 2.63 Cr        245.500
231               1.30 Cr        130.000
232        7.41 - 10 Lakh          8.705
233    11.95 - 16.07 Lakh         14.010
234       11 - 16.15 Lakh         13.575
235            19.48 Lakh         19.480
236      6.98 - 7.80 Lakh          7.390

In [203]:
df_cars

,brand,model,price_ex_showroom,fuel_type,mileage/ range,transmission,engine_cc/bhp,seating_capacity,country_origin,Price_in_Lakh
0,BMW,M5,2.01 Cr,Petrol,49.75,Automatic,4395.00,5.0,Germany,201.000
1,BMW,X3,71.20 - 74.10 Lakh,Petrol,14.86,Automatic,1998.00,5.0,Germany,72.650
2,BMW,Z4,87.90 - 92.60 Lakh,Petrol,8.5,Manual/Automatic,2998.00,2.0,Germany,90.250
3,BMW,3 Series,72.85 - 73.95 Lakh,Petrol,13.02,Automatic,2998.00,5.0,Germany,73.400
4,BMW,XM,2.55 Cr,Petrol,61.9,Automatic,4395.00,5.0,Germany,255.000
5,BMW,M8 Coupe Competition,2.38 Cr,Petrol,8.7,Automatic,4395.00,5.0,Germany,238.000
6,BMW,M4 Competition,1.52 Cr,Petrol,9.7,Automatic,2993.00,4.0,Germany,152.000
7,BMW,7 Series,1.79 - 1.92 Cr,Petrol,7,Automatic,2998.00,5.0,Germany,185.500
8,BMW,2 Series Gran Coupe,45.30 - 47.20 Lakh,Petrol,16.35,Automatic,1499.00,5.0,Germany,46.250
9,Mercedes-Benz,Maybach GLS,3.17 - 3.71 Cr,Petrol,10,Automatic,3982.00,5.0,Germany,344.000
10,Volvo,XC90,96.97 Lakh,Petrol,12.35,Automatic,1969.00,7.0,Sweden,96.970
11,BMW,M4 CS,1.79 Cr,Petrol,9.7,Automatic,2993.00,4.0,Germany,179.000
12,Audi,S5 Sportback,73.57 - 80.50 Lakh,Petrol,10.6,Automatic,2994.00,5.0,Germany,77.035
13,BMW,3 Series Long Wheelbase,60.50 - 62.15 Lakh,Petrol,19.61,Automatic,1998.00,5.0,Germany,61.325
14,Audi,RS Q8,2.32 Cr,Petrol,9,Automatic,3998.00,5.0,Germany,232.000
15,Mercedes-Benz,AMG S 63,3.27 - 3.80 Cr,Petrol,19.4,Automatic,3982.00,5.0,Germany,353.500
16,Mercedes-Benz,GLS,1.32 - 1.52 Cr,Petrol,10.5,Automatic,2999.00,7.0,Germany,142.000
17,Mercedes-Benz,C-Class,58.65 - 64.42 Lakh,Petrol,22,Automatic,1999.00,5.0,Germany,61.535
18,Mercedes-Benz,S-Class,1.78 - 1.96 Cr,Petrol,17,Automatic,2999.00,5.0,Germany,187.000
19,Mercedes-Benz,GLC,74.6 Lakh,Petrol,18.3,Automatic,1999.00,5.0,Germany,74.600
20,Mercedes-Benz,GLE,96.15 Lakh - 1.18 Cr,Petrol,15,Automatic,2999.00,5.0,Germany,4866.500
21,Mercedes-Benz,E-Class,78.50 - 91.72 Lakh,Petrol,14.3,Automatic,2999.00,5.0,Germany,85.110
22,Mercedes-Benz,AMG GT Coupe,2.88 - 3.45 Cr,Petrol,11,Automatic,3982.00,2.0,Germany,316.500
23,Maruti Suzuki,Wagon R,4.99 - 6.95 Lakh,Petrol,25.19,Manual/Automatic,1197.00,5.0,India,5.970
24,Maruti Suzuki,Swift,5.79 - 8.80 Lakh,Petrol,25.75,Manual/Automatic,1197.00,5.0,India,7.295
25,Toyota,Camry,47.48 Lakh,Petrol,25.49,Automatic,2487.00,5.0,Japan,47.480
26,Hyundai,Creta,11.73 - 22.20 Lakh,Petrol,23.4,Manual/Automatic,1497.00,5.0,South Korea,16.965
27,Hyundai,Venue,7.36 - 12.78 Lakh,Petrol,26.2,Manual/Automatic,1493.00,5.0,South Korea,10.070
28,BMW,M2,1 Cr,Petrol,10.19,Automatic,2993.00,4.0,Germany,100.000
29,BMW,5 Series,72.35 Lakh,Petrol,10.9,Automatic,1998.00,5.0,Germany,72.350
30,BMW,X1,50.60 - 51 Lakh,Petrol,18.37,Automatic,1995.00,5.0,Germany,50.800
31,BMW,X7,1.25 - 1.45Cr,Petrol,12.31,Automatic,2998.00,7.0,Germany,135.000
32,Toyota,Corolla Altis,11.95 - 16.07 Lakh,Petrol,18.4,Manual/Automatic,1498.00,5.0,Japan,14.010
33,Toyota,Urban Cruiser,7.41 - 10 Lakh,Petrol,19.46,Manual/Automatic,1199.00,5.0,Japan,8.705
34,Audi,Q3,43.07 - 52.98 Lakh,Petrol,10.14,Automatic,1984.00,5.0,Germany,48.025
35,Mercedes-Benz,AMG C43,94.05 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,94.050
36,Mercedes-Benz,GLA,49.70 - 53.20 Lakh,Petrol,17.6,Automatic,1950.00,5.0,Germany,51.450
37,Toyota,Yaris,11 - 16.15 Lakh,Petrol,16.92,Manual/Automatic,1498.00,5.0,Japan,13.575
38,Audi,Q5,64.74 - 69.86 Lakh,Petrol,13.47,Automatic,1984.00,5.0,Germany,67.300
39,Mercedes-Benz,AMG GT 4 Door Coupe,3.27 Cr,Petrol,7,Automatic,3982.00,5.0,Germany,327.000
40,Audi,A6,63.74 - 69.89 Lakh,Petrol,14.11,Automatic,1984.00,5.0,Germany,66.815
41,Mercedes-Benz,AMG CLE 53,1.28 Cr,Petrol,10,Automatic,2999.00,4.0,Germany,128.000
42,Mercedes-Benz,AMG SL,2.34 Cr,Petrol,7.3,Automatic,3982.00,4.0,Germany,234.000
43,Mercedes-Benz,AMG C 63,1.91 Cr,Petrol,12.9,Automatic,1991.00,5.0,Germany,191.000
44,Mercedes-Benz,AMG GLC 43,99.35 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,99.350
45,Toyota,Innova Hycross,18.16 - 30.83 Lakh,Petrol,23.24,Automatic,1987.00,8.0,Japan,24.495
46,Mercedes-Benz,CLE Cabriolet,1.11 Cr,Petrol,12,Automatic,1999.00,4.0,Germany,111.000
47,Mercedes-Benz,AMG GLA 35,58.50 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,58.500
48,Nissan,X-Trail,48.20 Lakh,Petrol,10,Automatic,1498.00,7.0,Japan,48.200
49,Mercedes-Benz,Maybach SL 680,4.12 Cr,Petrol,7.8,Automatic,3982.00,2.0,Germany,412.000
50,Mercedes-Benz,AMG E 53 Cabriolet,1.30 Cr,Petrol,9,Automatic,2998.00,4.0,Germany,130.000
51,Mercedes-Benz,Maybach S-Class,2.74 - 3.47 Cr,Petrol,23,Automatic,5980.00,5.0,Germany,310.500
52,Mercedes-Benz,AMG GLE 53,1.88 Cr,Petrol,8.9,Automatic,2999.00,5.0,Germany,188.000
53,Mercedes-Benz,A-Class Limousine,44.45 - 46.22 Lakh,Petrol,14.3,Automatic,1950.00,5.0,Germany,45.335
54,Mercedes-Benz,G-Class,2.55 - 4.36 Cr,Petrol,8.3,Automatic,3982.00,5.0,Germany,345.500
55,Mercedes-Benz,AMG A 45 S,94.80 Lakh,Petrol,10,Automatic,1991.00,5.0,Germany,94.800
56,Audi,Q3 Sportback,52.98 - 53.55 Lakh,Petrol,10.14,Automatic,1984.00,5.0,Germany,53.265
57,Audi,Q8,1.10 Cr,Petrol,10,Automatic,2995.00,5.0,Germany,110.000
58,Volvo,XC60,67.11 Lakh,Petrol,12.2,Automatic,1969.00,5.0,Sweden,67.110
59,BMW,X5,93.70 Lakh - 1.15 Cr,Petrol,10.44,Automatic,2998.00,5.0,Germany,4742.500
60,Audi,Q7,86.14 - 95.03 Lakh,Petrol,11,Automatic,2995.00,7.0,Germany,90.585
61,Tata,Tiago NRG,6.68 - 8.10 Lakh,Petrol,20.09,Manual/Automatic,1199.00,5.0,India,7.390
62,Audi,A4,46.25 - 55.11 Lakh,Petrol,15,Automatic,1984.00,5.0,Germany,50.680
63,Tata,Tigor,5.49 - 8.74 Lakh,Petrol,19.6,Manual/Automatic,1199.00,5.0,India,7.115
64,Renault,KWID,4.30 - 5.90 Lakh,Petrol,22.3,Manual/Automatic,999.00,5.0,France,5.100
65,Maruti Suzuki,Baleno,5.99 - 9.10 Lakh,Petrol,22.94,Manual/Automatic,1197.00,5.0,India,7.545
66,Renault,Triber,5.76 - 8.60 Lakh,Petrol,20,Manual/Automatic,999.00,7.0,France,7.180
67,Maruti Suzuki,Dzire,6.26 - 9.31 Lakh,Petrol,25.71,Manual/Automatic,1197.00,5.0,India,7.785
68,Jeep,Grand Cherokee,63 Lakh,Petrol,7.2,Automatic,1995.00,5.0,USA,63.000
69,Maruti Suzuki,Brezza,8.26 - 13.01 Lakh,Petrol,19.89,Manual/Automatic,1462.00,5.0,India,10.635
70,Maruti Suzuki,Grand Vitara,10.77 - 19.72 Lakh,Petrol,27.97,Manual/Automatic,1490.00,5.0,India,15.245
71,Jeep,Wrangler,64.08 - 67.81 Lakh,Petrol,11.4,Automatic,1995.00,5.0,USA,65.945
72,Kia,Carens Clavis,11.08 - 20.71 Lakh,Petrol,19.54,Manual/Automatic,1497.00,7.0,South Korea,15.895
73,Maruti Suzuki,Victoris,10.50 - 19.99 Lakh,Petrol,28.65,Manual/Automatic,1490.00,5.0,India,15.245
74,Skoda,Octavia RS,49.99 Lakh,Petrol,14.72,Automatic,1984.00,5.0,Czech Republic,49.990
75,Skoda,Kodiaq,39.99 - 45.96 Lakh,Petrol,14.86,Automatic,1984.00,7.0,Czech Republic,42.975
76,Maruti Suzuki,Alto Tour H1,4 - 4.82 Lakh,Petrol,24.39,Manual,998.00,5.0,India,4.410
77,Maruti Suzuki,Ertiga,8.80 - 12.94 Lakh,Petrol,20.51,Manual/Automatic,1462.00,7.0,India,10.870
78,Maruti Suzuki,S-Presso,3.50 - 5.25 Lakh,Petrol,25.3,Manual/Automatic,998.00,5.0,India,4.375
79,Maruti Suzuki,Celerio,4.70 - 6.73 Lakh,Petrol,26.68,Manual/Automatic,998.00,5.0,India,5.715
80,Skoda,Slavia,10 - 17.70 Lakh,Petrol,20.32,Manual/Automatic,1498.00,5.0,Czech Republic,13.850
81,Maruti Suzuki,XL6,11.52 - 14.48 Lakh,Petrol,20.97,Manual/Automatic,1462.00,7.0,India,13.000
82,Skoda,Kylaq,7.55 - 12.80 Lakh,Petrol,19.68,Manual/Automatic,999.00,5.0,Czech Republic,10.175
83,Maruti Suzuki,Jimny,12.31 - 14.45 Lakh,Petrol,16.94,Manual/Automatic,1462.00,4.0,India,13.380
84,Maruti Suzuki,Ignis,5.35 - 7.55 Lakh,Petrol,20.89,Manual/Automatic,1197.00,5.0,India,6.450
85,Maruti Suzuki,Eeco,5.21 - 6.36 Lakh,Petrol,19.71,Manual,1197.00,7.0,India,5.785
86,MG,Hector Plus,16.75 - 24.15 Lakh,Petrol,17.68,Manual/Automatic,1956.00,5.0,China,20.450
87,Maruti Suzuki,Ciaz,9.09 - 11.89 Lakh,Petrol,20.65,Manual/Automatic,1462.00,5.0,India,10.490
88,Maruti Suzuki,Invicto,24.97 - 28.61 Lakh,Petrol,23.24,Automatic,1987.00,8.0,India,26.790
89,Toyota,Glanza,6.39 - 9.15 Lakh,Petrol,22.94,Manual/Automatic,1197.00,5.0,Japan,7.770
90,Maruti Suzuki,Dzire Tour S,6.24 - 7.10 Lakh,Petrol,26.06,Manual,1197.00,5.0,India,6.670
91,Maruti Suzuki,Ertiga Tour,9.68 - 10.59 Lakh,Petrol,18.04,Manual,1462.00,5.0,India,10.135
92,Skoda,Kushaq,10.61 - 18.43 Lakh,Petrol,19.76,Manual/Automatic,1498.00,5.0,Czech Republic,14.520
93,Renault,Kiger,5.76 - 10.34 Lakh,Petrol,20.38,Manual/Automatic,999.00,5.0,France,8.050
94,Toyota,Etios Liva,6.98 - 7.80 Lakh,Petrol,18.6,Manual/Automatic,1199.00,5.0,Japan,7.390
95,Maruti Suzuki,Alto K10,3.70 - 5.45 Lakh,Petrol,24.9,Manual/Automatic,998.00,5.0,India,4.575
96,Toyota,Rumion,10.44 - 13.62 Lakh,Petrol,20.51,Manual/Automatic,1462.00,7.0,Japan,12.030
97,Maruti Suzuki,FRONX,6.85 - 11.98 Lakh,Petrol,22.89,Manual/Automatic,1197.00,5.0,India,9.415
98,Nissan,Magnite,5.62 - 10.76 Lakh,Petrol,19.9,Manual/Automatic,999.00,5.0,Japan,8.190
99,Tata,Curvv,9.87 - 18.98 Lakh,Petrol,14,Manual/Automatic,1497.00,5.0,India,14.425
100,Tata,Tiago,4.57 - 7.82 Lakh,Petrol,19.01,Manual/Automatic,1199.00,5.0,India,6.195
101,Tata,Altroz,6.30 - 10.51 Lakh,Petrol,19.33,Manual/Automatic,1497.00,5.0,India,8.405
102,Tata,Nexon,7.32 - 14.05 Lakh,Petrol,24.08,Manual/Automatic,1497.00,5.0,India,10.685
103,Maruti Suzuki,Wagon R tour,4.99 - 5.89 Lakh,Petrol,25.4,Manual,998.00,5.0,India,5.440
104,Hyundai,i20,6.87 - 10.43 Lakh,Petrol,20,Manual/Automatic,1197.00,5.0,South Korea,8.650
105,Hyundai,Verna,10.69 - 16.98 Lakh,Petrol,20.6,Manual/Automatic,1497.00,5.0,South Korea,13.835
106,Hyundai,Aura,5.98 - 8.42 Lakh,Petrol,17,Manual/Automatic,1197.00,5.0,South Korea,7.200
107,Toyota,Vellfire,1.20 - 1.30 Cr,Petrol,16,Automatic,2487.00,7.0,Japan,125.000
108,Hyundai,Exter,5.68 - 9.61 Lakh,Petrol,19.4,Manual/Automatic,1197.00,5.0,South Korea,7.645
109,Hyundai,Alcazar,14.57 - 22.10 Lakh,Petrol,22.4,Manual/Automatic,1493.00,7.0,South Korea,18.335
110,Tata,Punch,5.50 - 9.30 Lakh,Petrol,20.09,Manual/Automatic,1199.00,5.0,India,7.400
111,Toyota,Hyryder,10.95 - 19.76 Lakh,Petrol,27.97,Manual/Automatic,1490.00,5.0,Japan,15.355
112,MG,Astor,9.65 - 16.24 Lakh,Petrol,15.43,Manual/Automatic,1498.00,5.0,China,12.945
113,Hyundai,Tucson,29.32 - 35.64 Lakh,Petrol,19.5,Automatic,1999.00,5.0,South Korea,32.480
114,Maruti Suzuki,Eeco Cargo,5.39 - 6.61 Lakh,Petrol,20.2,Manual,1197.00,2.0,India,6.000
115,MG,Hector,14.33 - 20.96 Lakh,Petrol,17.51,Manual/Automatic,1956.00,5.0,China,17.645
116,Kia,Seltos,10.88 - 20.81 Lakh,Petrol,22.7,Manual/Automatic,1497.00,5.0,South Korea,15.845
117,Kia,Carens,11.99 - 13.77 Lakh,Petrol,14.9,Manual,1497.00,7.0,South Korea,12.880
118,Kia,Syros,8.97 - 16.84 Lakh,Petrol,22.65,Manual/Automatic,1493.00,5.0,South Korea,12.905
119,Kia,Sonet,7.66- 15 Lakh,Petrol,26.1,Manual/Automatic,1493.00,5.0,South Korea,11.330
120,Toyota,Fortuner,33.85 - 49.88 Lakh,Petrol,13.3,Manual/Automatic,2755.00,7.0,Japan,41.865
121,Hyundai,i20 N-Line,9.14 - 11.60 Lakh,Petrol,20,Manual/Automatic,998.00,5.0,South Korea,10.370
122,Hyundai,Grand i10 Nios,5.47 - 7.92 Lakh,Petrol,18,Manual/Automatic,1197.00,5.0,South Korea,6.695
123,Hyundai,Venue N Line,11.11 - 12.81 Lakh,Petrol,18,Manual/Automatic,998.00,5.0,South Korea,11.960
124,Hyundai,Creta N Line,17.83 - 20.09 Lakh,Petrol,18.2,Manual/Automatic,1482.00,5.0,South Korea,18.960
125,Mercedes-Benz,G-Class,2.55 - 4.30 Cr,Diesel,8.47,Automatic,3982.00,5.0,Germany,342.500
126,MG,Hector,14 - 20.76 Lakh,Diesel,15.58,Manual/Automatic,1956.00,5.0,China,17.380
127,Tata,Nexon,7.30 - 13.75 Lakh,Diesel,26.08,Manual/Automatic,1497.00,5.0,India,10.525
128,Mercedes-Benz,C-Class,58.65 - 64.30 Lakh,Diesel,23,Automatic,1999.00,5.0,Germany,61.475
129,Hyundai,Creta,10.73 - 20.20 Lakh,Diesel,21.8,Manual/Automatic,1497.00,5.0,South Korea,15.465
130,Mercedes-Benz,S-Class,1.78 - 1.88 Cr,Diesel,18,Automatic,2999.00,5.0,Germany,183.000
131,Tata,Altroz,6.30 - 10.51 Lakh,Diesel,23.64,Manual/Automatic,1497.00,5.0,India,8.405
132,Tata,Yodha Pickup,6.95 - 7.50 Lakh,Diesel,13,Manual,2956.00,4.0,India,7.225
133,Tata,Curvv,9.66 - 18.85 Lakh,Diesel,12,Manual/Automatic,1497.00,5.0,India,14.255
134,Toyota,Fortuner Legender,41.54 - 46.75 Lakh,Diesel,10.52,Manual/Automatic,2755.00,7.0,Japan,44.145
135,Toyota,Hilux,28.02 - 35.37 Lakh,Diesel,10,Manual/Automatic,2755.00,5.0,Japan,31.695
136,BMW,3 Series Long Wheelbase,60.50 - 61.80 Lakh,Diesel,19.61,Automatic,1998.00,5.0,Germany,61.150
137,Jeep,Compass,17.73 - 30.50 Lakh,Diesel,17.1,Manual/Automatic,1956.00,5.0,USA,24.115
138,Tata,Harrier,14 - 25.25 Lakh,Diesel,16.8,Manual/Automatic,1956.00,5.0,India,19.625
139,Kia,Carens Clavis,10.06 - 19.44 Lakh,Diesel,18.04,Manual/Automatic,1497.00,7.0,South Korea,14.750
140,Mercedes-Benz,GLC,73.95 Lakh,Diesel,19.4,Automatic,1999.00,5.0,Germany,73.950
141,Tata,Safari,14.66 - 25.96 Lakh,Diesel,16.3,Manual/Automatic,1956.00,7.0,India,20.310
142,Mercedes-Benz,GLE,96.15 Lakh - 1.12 Cr,Diesel,16,Automatic,2999.00,5.0,Germany,4863.500
143,Mercedes-Benz,GLS,1.32 - 1.42 Cr,Diesel,12,Automatic,2999.00,7.0,Germany,137.000
144,MG,Hector Plus,16.05 - 22.75 Lakh,Diesel,15.58,Manual/Automatic,1956.00,5.0,China,19.400
145,MG,Gloster,38.33 - 43.16 Lakh,Diesel,10,Automatic,1996.00,7.0,China,40.745
146,BMW,7 Series,1.79 - 1.82 Cr,Diesel,8,Automatic,2998.00,5.0,Germany,180.500
147,Jeep,Meridian,23.33 - 36.21 Lakh,Diesel,14.1,Manual/Automatic,1956.00,5.0,USA,29.770
148,Hyundai,Alcazar,14.47 - 21.10 Lakh,Diesel,20.4,Manual/Automatic,1493.00,7.0,South Korea,17.785
149,Mercedes-Benz,GLA,49.70 - 52.70 Lakh,Diesel,18.9,Automatic,1950.00,5.0,Germany,51.200
150,BMW,X3,71.20 - 73.10 Lakh,Diesel,17.86,Automatic,1998.00,5.0,Germany,72.150
151,BMW,X1,50.60 - 52.20 Lakh,Diesel,20.37,Automatic,1995.00,5.0,Germany,51.400
152,Kia,Sonet,7.30 - 14 Lakh,Diesel,24.1,Manual/Automatic,1493.00,5.0,South Korea,10.650
153,Kia,Carens,10.99 - 12.77 Lakh,Diesel,12.6,Manual,1497.00,7.0,South Korea,11.880
154,BMW,X7,1.25 - 1.29 Cr,Diesel,14.31,Automatic,2998.00,7.0,Germany,127.000
155,Hyundai,Tucson,27.32 - 33.64 Lakh,Diesel,18,Automatic,1999.00,5.0,South Korea,30.480
156,Kia,Seltos,10.79 - 19.81 Lakh,Diesel,20.7,Manual/Automatic,1497.00,5.0,South Korea,15.300
157,Kia,Carnival,59.42 Lakh,Diesel,14.85,Automatic,2151.00,7.0,South Korea,59.420
158,Kia,Syros,8.67 - 15.94 Lakh,Diesel,20.75,Manual/Automatic,1493.00,5.0,South Korea,12.305
159,BMW,X5,93.70 Lakh - 1.05 Cr,Diesel,12,Automatic,2998.00,5.0,Germany,4737.500
160,Mercedes-Benz,A-Class Limousine,44.45 - 45.95 Lakh,Diesel,15.5,Automatic,1950.00,5.0,Germany,45.200
161,Toyota,Innova Crysta,18.66 - 25.27 Lakh,Diesel,9,Manual,2393.00,7.0,Japan,21.965
162,Toyota,Land Cruiser 300,2.16 - 2.25 Cr,Diesel,11,Automatic,3346.00,7.0,Japan,220.500
163,Hyundai,Venue,7.26 - 12.46 Lakh,Diesel,24.2,Manual/Automatic,1493.00,5.0,South Korea,9.860
164,Toyota,Fortuner,33.65 - 48.85 Lakh,Diesel,11,Manual/Automatic,2755.00,7.0,Japan,41.250
165,Mercedes-Benz,E-Class,78.50 - 91.65 Lakh,Diesel,15,Automatic,2999.00,5.0,Germany,85.075
166,Maruti Suzuki,FRONX,6.66 - 11.98 Lakh,CNG,23.77,Manual/Automatic,1197.00,5.0,India,9.320
167,Maruti Suzuki,Swift,5.79 - 7.50 Lakh,CNG,27.75,Manual/Automatic,1197.00,5.0,India,6.645
168,Maruti Suzuki,Wagon R,4.75 - 6.05 Lakh,CNG,27.19,Manual/Automatic,1197.00,5.0,India,5.400
169,Maruti Suzuki,Wagon R tour,4.69 - 5.78 Lakh,CNG,27.4,Manual,998.00,5.0,India,5.235
170,Tata,Altroz,6.30 - 10.51 Lakh,CNG,27.8,Manual/Automatic,1497.00,5.0,India,8.405
171,Tata,Nexon,7.22 - 13.05 Lakh,CNG,27.08,Manual/Automatic,1497.00,5.0,India,10.135
172,Hyundai,Aura,5.66 - 8.12 Lakh,CNG,19,Manual/Automatic,1197.00,5.0,South Korea,6.890
173,Hyundai,Grand i10 Nios,5.41 - 7.82 Lakh,CNG,20.1,Manual/Automatic,1197.00,5.0,South Korea,6.615
174,Hyundai,Exter,5.62 - 9.55 Lakh,CNG,22.1,Manual/Automatic,1197.00,5.0,South Korea,7.585
175,Tata,Tigor,5.33 - 8.44 Lakh,CNG,21.4,Manual/Automatic,1199.00,5.0,India,6.885
176,Tata,Tiago NRG,6.78 - 8.07 Lakh,CNG,22.05,Manual/Automatic,1199.00,5.0,India,7.425
177,Maruti Suzuki,Ertiga,8.33 - 12 Lakh,CNG,23.44,Manual/Automatic,1462.00,7.0,India,10.165
178,Kia,Carens,10.49 - 12.56 Lakh,CNG,14.5,Manual,1497.00,7.0,South Korea,11.525
179,Maruti Suzuki,Baleno,5.43 - 9.10 Lakh,CNG,23.98,Manual/Automatic,1197.00,5.0,India,7.265
180,Tata,Tiago,4.37 - 7.77 Lakh,CNG,22.01,Manual/Automatic,1199.00,5.0,India,6.070
181,Maruti Suzuki,Brezza,8.11 - 13 Lakh,CNG,21.89,Manual/Automatic,1462.00,5.0,India,10.555
182,Nissan,Magnite,5.47 - 10.14 Lakh,CNG,22.8,Manual/Automatic,999.00,5.0,Japan,7.805
183,Toyota,Rumion,10.14 - 13.42 Lakh,CNG,22.45,Manual/Automatic,1462.00,7.0,Japan,11.780
184,Maruti Suzuki,Dzire,6.21 - 9.3 Lakh,CNG,25.71,Manual/Automatic,1197.00,5.0,India,7.755
185,Toyota,Taisor,6.21 - 11.06 Lakh,CNG,22.8,Manual/Automatic,1197.00,5.0,Japan,8.635
186,Toyota,Glanza,6.29 - 9.01 Lakh,CNG,24.9,Manual/Automatic,1197.00,5.0,Japan,7.650
187,Tata,Punch,5.10 - 9.10 Lakh,CNG,23.07,Manual/Automatic,1199.00,5.0,India,7.100
188,Maruti Suzuki,S-Presso,3.21 - 5.10 Lakh,CNG,26.3,Manual/Automatic,998.00,5.0,India,4.155
189,Maruti Suzuki,Alto Tour H1,4 - 4.75 Lakh,CNG,26.45,Manual,998.00,5.0,India,4.375
190,Toyota,Hyryder,10.15 - 19.22 Lakh,CNG,28.97,Manual/Automatic,1490.00,5.0,Japan,14.685
191,Maruti Suzuki,Dzire Tour S,6.14 - 6.78 Lakh,CNG,27.56,Manual,1197.00,5.0,India,6.460
192,Maruti Suzuki,Eeco,5.14 - 6.00 Lakh,CNG,21.05,Manual,1197.00,7.0,India,5.570
193,Maruti Suzuki,XL6,11 - 13.23 Lakh,CNG,20.97,Manual/Automatic,1462.00,7.0,India,12.115
194,Maruti Suzuki,Celerio,4.40 - 6.21 Lakh,CNG,28.68,Manual/Automatic,998.00,5.0,India,5.305
195,Maruti Suzuki,Alto K10,3.50 - 5.22 Lakh,CNG,26.7,Manual/Automatic,998.00,5.0,India,4.360
196,Maruti Suzuki,Grand Vitara,9.77 - 19 Lakh,CNG,29.13,Manual/Automatic,1490.00,5.0,India,14.385
197,Maruti Suzuki,Victoris,9.50 - 18.65 Lakh,CNG,27.07,Manual/Automatic,1490.00,5.0,India,14.075
198,Maruti Suzuki,Ertiga Tour,9.00 - 10.01 Lakh,CNG,20.04,Manual,1462.00,5.0,India,9.505
199,Maruti Suzuki,Eeco Cargo,5.39 - 6.55 Lakh,CNG,22.2,Manual,1197.00,2.0,India,5.970
200,Tata,Harrier EV,21.49 - 30.23 Lakh,Electric,627,Automatic,390.00,5.0,India,25.860
201,MG,ZS EV,17.99 - 20.50 Lakh,Electric,461,Automatic,174.00,5.0,China,19.245
202,Tata,Nexon EV,12.49 - 17.49 Lakh,Electric,489,Automatic,142.00,5.0,India,14.990
203,Tata,Punch EV,9.99 - 14.44 Lakh,Electric,421,Automatic,122.00,5.0,India,12.215
204,Tata,Tiago EV,7.99 - 11.14 Lakh,Electric,315,Automatic,75.00,5.0,India,9.565
205,Kia,EV6,65.97 Lakh,Electric,663,Automatic,325.00,5.0,South Korea,65.970
206,Hyundai,Creta Electric,18.02 - 24.55 Lakh,Electric,473,Automatic,171.00,5.0,South Korea,21.285
207,Tata,Tigor EV,12.49 - 13.75 Lakh,Electric,315,Automatic,73.75,5.0,India,13.120
208,MG,M9,69.90 Lakh,Electric,584,Automatic,241.00,7.0,China,69.900
209,Hyundai,IONIQ 5,46.05 Lakh,Electric,631,Automatic,217.00,5.0,South Korea,46.050
210,MG,Windsor EV,12.65 - 18.39 Lakh,Electric,449,Automatic,136.00,5.0,China,15.520
211,Mercedes-Benz,AMG EQS,2.45 Cr,Electric,586,Automatic,761.00,5.0,Germany,245.000
212,Mercedes-Benz,Maybach EQS SUV,2.28 - 2.63 Cr,Electric,611,Automatic,658.00,4.0,Germany,245.500
213,Kia,EV9,1.30 Cr,Electric,561,Automatic,379.00,6.0,South Korea,130.000
214,Tata,Curvv EV,17.49 - 22.24 Lakh,Electric,585,Automatic,165.00,5.0,India,19.865
215,MG,Comet EV,7.50 - 9.56 Lakh,Electric,230,Automatic,42.40,4.0,China,8.530
216,Kia,Carens Clavis EV,17.99 - 24.49 Lakh,Electric,404,Automatic,170.00,7.0,South Korea,21.240
217,Mercedes-Benz,EQA,67.20 Lakh,Electric,560,Automatic,188.00,5.0,Germany,67.200
218,Mercedes-Benz,EQB,72.20 - 78.90 Lakh,Electric,535,Automatic,292.00,5.0,Germany,75.550
219,Mercedes-Benz,EQS SUV,1.33 - 1.48 Cr,Electric,423,Automatic,288.00,7.0,Germany,140.500
220,Mercedes-Benz,G-Class Electric,3.10 Cr,Electric,473,Automatic,579.00,5.0,Germany,310.000
221,Audi,RS e-tron GT,1.95 Cr,Electric,401-481,Automatic,636.98,5.0,Germany,195.000
222,BMW,i5,1.20 Cr,Electric,516,Automatic,601.00,5.0,Germany,120.000
223,BMW,i4,72.50 - 77.50 Lakh,Electric,590,Automatic,340.00,5.0,Germany,75.000
224,Audi,Q8 e-tron,1.15 - 1.27 Cr,Electric,491-582,AUtomatic,402.30,5.0,Germany,121.000
225,MG,Cyberster,75 Lakh,Electric,580,Automatic,510.00,2.0,China,75.000

In [204]:
df_cars.to_csv('df_cars_cleaned.csv', index=False)